/* GENERAL */

.paragraph-hero {
  padding-bottom: 16rem;
}


/* CLIPPING MASK HEADLINES */

.clipping-mask-font h2 {
  font-weight: 900;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  font-size: var(--fs-xxxl);
  line-height: 0.8;
  padding: 0;
  margin: 0;
}

.care-instructions__headline-1 {
  background-image: url("../../IMAGES/WEBSITE/CARE/Foam_schlecht_1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

.care-instructions__headline-2 {
  background-image: url("../../IMAGES/WEBSITE/CARE/Foam_schlecht_1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

.care-instructions__headline-3 {
  background-image: url("../../IMAGES/WEBSITE/CARE/Foam_schlecht_1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

.care-instructions__headline-4 {
  background-image: url("../../IMAGES/WEBSITE/CARE/Foam_schlecht_1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}


/* GRID */

.care-instructions__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem 0 8rem 0;
}

.care-instructions__content {
  grid-column: 1 / -1;
  padding-bottom: 6rem;
}

.washing {
  padding-top: 8rem;
}

.machine-load {
  padding-bottom: 2rem;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {
  .paragraph-hero {
    padding-bottom: 16rem;
  }


  /* GRID */

  .care-instructions__wrapper {
    margin: 0rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .care-instructions__content {
    grid-column: 1 / 5;
  }

  .washing {
    padding-top: 4rem;
  }

  .machine-load {
    padding-bottom: 8rem;
  }
}

@media (min-width: 900px) {

  .paragraph-hero {
    padding-bottom: 16rem;
  }


  /* GRID */

  .care-instructions__wrapper {
    margin: 0rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .care-instructions__content {
    grid-column: 1 / 5;
  }

  .washing {
    padding-top: 12rem;
  }

  .machine-load {
    padding-bottom: 8rem;
  }

  /* GRID */

  .care-instructions__wrapper {
    padding: 16rem 0 16rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
     column-gap: 1.5625rem;
    row-gap: 0rem;
  }
  
  .care-instructions__content {
    grid-column: 2 / 5;
  }
  
  .washing {
     padding-top: 14rem;
  }
  
  .machine-load {
    padding-bottom: 12rem;
  }
}


@media (min-width: 1200px) {

  .paragraph-hero {
    padding-bottom: 16rem;
  }

  /* GRID */

  .care-instructions__wrapper {
    padding: 16rem 0 16rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
    row-gap: 4rem;
  }

  .care-instructions__content {
    grid-column: 2 / 5;
  }

  .washing {
    padding-top: 14rem;
  }

  .machine-load {
    padding-bottom: 12rem;
  }
}




/* ANNIMATION */

/* .care-instructions__headlines {
  overflow-x: hidden;
  min-height: 100vh;
}

.care-instructions__headline {
  position: fixed;
  transform: translateY(10%);
  white-space: nowrap;
}

.care-instructions__headline-1 {
  top: 60%;
  left: 500px;
}  */
/* 
.care-instructions__headline-2 {
  top: 50%;
  right: 100px;
}

.care-instructions__headline-3 {
  top: 60%;
  left: 1000px;
}

.care-instructions__headline-4 {
  top: 80%;
  right: 800px;
}  */