/* INTRO */

.collaborations__intro {
  height: 100vh;
}

.collaborations__header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;
}

.collaborations__header h2 {
  color: var(--clr-yellow-900);
}

.collaborations__header h3 {
  color: var(--clr-yellow-100);
}

.intro-1 {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.intro-2 {
  /* grid-column: 1 / -1;
  grid-row: 2 / 3; */
  position: absolute;
  position: fixed; 
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  left: 500;
}

.intro-3 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.btn-collaborations__intro {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}


/* YOU */

.collaborations__you {
  height: 100vh;
}

.collaborations__list {
  color: var(--clr-green-900);
  line-height: 1.1;
  letter-spacing: var(--ls-headline);
}

.s {
  font-size: 32px;
}

.m {
  font-size: 48px;
}

.l {
  font-size: 64px;
}

.xl {
  font-size: 96px;
}

.xxl {
  font-size: 128px;
  font-weight: var(--fw-medium);
}

.you {
  font-size: 24px;
  padding: 0 0 1.5rem 0;
}

.you-2 {
  font-size: 32px;
  padding: 2rem 0 2rem 0;
}

.collaborations__item--1 {
  padding: 0 0 1.5rem 0;
}

.collaborations__item--2 {
  padding: 0 0 1.5rem 0;
}

.collaborations__item--3 {
  padding: 0 0 1.5rem 0;
}

/* TYPES */

.collaborations__types {
  padding: 24rem 0 16rem 0;
}

.collaborations__types h2 {
  padding: 8rem 0 16rem 0;
}

.collaborations__contact p {
  font-size: var(--fs-h4);
  width: 60%;
}

.collaborations__contact  {
  font-size: 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.collaborations__contact--p1,
.collaborations__contact--p2,
.collaborations__contact--p3,
.btn-collaborations__types {
  grid-column: 2 / 6;
}

.collaborations__contact--p1 {
  padding: 4rem 0 0 0;
}
.collaborations__contact--p3 {
  font-weight: var(--fw-medium);
  padding: 4rem 0 2rem 0;
}

.collaborations__type {
  position: relative;
}

.collaborations__type--1,
.collaborations__type--2,
.collaborations__type--3,
.collaborations__type--4,
.collaborations__type--5 {
  font-size: 32px;
}

.collaborations__type--1 {
  position: absolute;
  top: 10%;
  white-space: nowrap;
  left: 500;
}
