/* GENERAL */

h2 {
  display: none;
}

.cookie__links a {
  display: block;
}


/* GRID */

.cookies {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
}

.cookies__content {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {
  /* GRID */

  .cookies {
    margin-top: 16rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .cookies__content {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1200px) {
  /* GRID */

  .cookies {
    margin-top: 16rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .cookies__content {
    grid-column: 2 / 5;
  }
}