/* GENERAL */

h2 {
  display: none;
}

.cookie__links a {
  display: block;
}


/* GRID */

.cookies {
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  column-gap: 1.5625rem;
}

.cookies__content {
  grid-column: 2 / 5;
}

