/* GENERAL */

/* .cookies {
  padding: 6rem 0;
} */

h2 {
  display: none;
}

.cookie__links a {
  display: block;
}


/* GRID */

.cookies__content {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.cookies__copy {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {
  /* GRID */

  .cookies__content {
    margin: 12rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .cookies__copy {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1200px) {
  /* GRID */

  .cookies__content {
    margin: 12rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .cookies__copy {
    grid-column: 2 / 5;
  }
}