section.coverage {
  display: flex;
  padding: 16rem 0 12rem 0;
}

.coverage__world {
  flex-basis: 80%;
  display: inline-block;
  overflow: hidden;
}

.world {
  width: 160%;
  height: 100%;
  object-fit: cover;
}

.coverage__content {
  flex-basis: 20%;
  text-align: right;
}

.coverage__content  > * + * {
  padding: 4rem 0 0 0;
}

.coverage__heading {
  text-transform: uppercase;
}



/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}
