/* GENERAL */

.ampersand {
  /* position: relative; */
  /* box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692); */
  
}

.ampersand:before {
  content: '&';
  /* position: absolute; */
  /* right: 0;
  top: 0; */
  /* color: #dde1e7;
  font-size: 650px;
  text-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692); */
}


/* GRID */

.how-it-works {
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(27, 1fr);
  column-gap: 0;
  row-gap: 0;
}

/* ENJOY */

.enjoy {
  grid-column: 1 / 8;
  grid-row: 25 / 26;
  align-self: start;
  justify-self: flex-start;
  font-size: var(--fs-h3);
}

.btn-custom {
  grid-column: 1 / 6;
  grid-row: 26 / 27;
  align-self: start;
  justify-self: flex-start;
}



