/* INTRODUCTION */

.paragraph-hero {
  padding-bottom: 12rem;
}

/* .custom-introduction {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.custom-introduction--p {
  grid-column: 1 / -1;
  padding-top: 8rem;
} */


/* CLIPPING MASK HEADLINES */

/* .clipping-mask-font h2 {
  font-weight: 900;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  font-size: var(--fs-xxxl);
  line-height: 0.8;
  padding: 0rem 0 0rem 0;
}

.custom__headline {
  background-image: url("../../IMAGES/WEBSITE/INDEX/Earth.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
} */


/* INTRO */

.custom-intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0;
}

.custom__content-1 {
  grid-column: 1 / -1;
}

.custom__content--h2 {
  padding: 0rem 0;
  grid-column: 1 / -1;
}

.custom__content-2 {
  grid-column: 1 / -1;
}

.custom__content-3 {
  grid-column: 1 / -1;
}

.custom__content-4 {
  grid-column: 1 / -1;
}


/* NOTE */

.note {
  padding: 12rem 0 0rem 0;
}


/* GRID */

.how-it-works {
  padding: 0rem 0 0rem 0;
}

.how-it-works__headline {
  padding-bottom: 2rem;
}

.how-it-works__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 2rem;
  padding-top: 4rem;
}


/* ENJOY */

.enjoy__wrapper {
  padding: 0rem 0 0rem 0;
}

.enjoy {
  padding: 12rem 0 4rem 0;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  /* INTRODUCTION */

  /* .custom-introduction {
    margin-top: 16rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
    
  .custom-introduction--p {
    grid-column: 2 / 5;
    padding-top: 16rem;
  } */

  /* CLIPPING MASK HEADLINES */

  /* .clipping-mask-font h2 {
    padding: 12rem 0 4rem 0;
  } */

  /* INTRO */
    
  .custom-intro {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0;
    row-gap: 0;
  }

  .custom__content-1 {
    grid-column: 2 / 5;  
    padding: 10rem 0 6rem 0;
  }

  .custom__content--h2 {
    grid-column: 2 / 5;
  }

  .custom__content-2 {
    grid-column: 2 / 5;
    padding-top: 6rem;
  }


  /* NOTE */

  .note {
    padding: 20rem 0 0rem 0;
  }

  .note-p {
    padding-bottom: 4rem;
  }


  /* GRID */

  .how-it-works {
    padding: 0rem 0 0rem 0;
  }

  .how-it-works__headline {
    padding: 12rem 0 2rem 0;
  }

  .how-it-works__wrapper {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 0;
    row-gap: 4rem;
  }


  /* ENJOY */

  .enjoy__wrapper {
    padding: 16rem 0 4rem 0;
  }
}

@media (min-width: 1200px) {

  .how-it-works__wrapper {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 0;
    row-gap: 4rem;
  }

}

@media (min-width: 1800px) {}