
.ampersand {
  /* position: relative; */
  /* box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692); */
  
}

.ampersand:before {
  content: '&';
  /* position: absolute; */
  /* right: 0;
  top: 0; */
  color: #dde1e7;
  font-size: 650px;
  text-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.steps:before {
background: pink;
width: 560px;
height:560px;
}