/* GENEARAL */

/* GRID */

.delivery-process {
  padding: 16rem 0 8rem 0;
}

.delivery-process__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* DELIVERY DETAILS */

.delivery-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  background-color: var(--clr-turquoise-500);
  min-height: 100vh;
  padding-top: 6em;
  padding-bottom: 6em;
}

.delivery-details__header h2 {
  color: var(--clr-neutral-0);
  width: 100%;
} 

.delivery-details__header p {
  color: var(--clr-yellow-200);
  width: 100%;
  margin: 0;
}

.delivery-details__content {
  color: var(--clr-turquoise-900);
  justify-items: space-between;
}

.delivery-details__content h3 {
  color: var(--clr-turquoise-900);
  font-weight: var(--fw-medium);
}

.delivery-details__content p {
  line-height: 1.2;
}

.delivery-detail {
  border: none;
  width: 450px;
  height: 450px;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: -4px -4px 7px var(--clr-turquoise-400), 3px 3px 5px var(--clr-turquoise-700);
}


/* NOTE */

.note {
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  align-items: flex-end;
}