/* GENEARAL */

.delivery {
  margin-top: 16rem;
}

/* GRID */

.delivery-process {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, min-content);
  column-gap: 0;
  row-gap: 0;
}

/* DELIVERY DETAILS */

.delivery-details {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-turquoise-500);
  height: 100vh;
  justify-content: space-between;
  align-content: flex-end;
  padding-top: 6em;
  padding-bottom: 6em;
}

.delivery-details__header {
  flex-basis: 100%;
  flex-grow: 1;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.delivery-details__header h2 {
  color: var(--clr-neutral-0);
  width: 100%;
} 

.delivery-details__header p {
  color: var(--clr-yellow-200);
  width: 100%;
  margin: 0;
}

/* NOTE */

.delivery-details__content {
  color: var(--clr-turquoise-900);
}

.delivery-details__content h3 {
  color: var(--clr-turquoise-900);
  font-weight: var(--fw-medium);
}

.delivery-details__content p {
  line-height: 1.2;
}


/* NOTE */

.delivery-wrapper {
  height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.note {
  margin-top: auto;
}