/* GENERAL */

.article-wrapper {
  padding-bottom: 8rem;
}

.discover__blog-post--card {
  display: flex;
  width: 450px;
  height: 450px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
}

.discover__blog-post--info {
  writing-mode:tb-rl;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform:rotate(180deg);
  transform: rotate(180deg);
  white-space:nowrap;
  padding: 1rem 1rem 1rem 0rem;
  flex-basis: 20%;
}

.blog-post__category {
  /* padding-top: 1rem; */
  color: var(--clr-neutral-300);
}

.discover__blog-post--card img {
  /* border: 1px solid lightgrey;
  border-radius: 1rem; */
  padding: 1rem 1rem 1rem 0.5rem;
  flex-basis: 80%;
  border-radius: 1.5rem;
}

.tabs {
  padding: 16rem 0 8rem 0;
}


/* TABS */

:root {
  --left-side: 0%;
  --right-side: 0%;
}

.discover__tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  position: relative;
}

.tabs {
  width: auto;
  height: 40px;
  display: flex;
}

.tab {
  padding: 0 15px;
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-500);
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: 0.35s ease;
}
.tab.tab--active {
  color: var(--clr-neutral-1000);
  transition: 0.35s ease;
}
.tab:hover {
  color: var(--clr-neutral-1000) !important;
  transition: 0.35s ease;
}

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, var(--clr-purple-500),var(--clr-blue-500));
  clip-path: polygon(var(--left-side) 0, var(--right-side) 0, var(--right-side) 100%, var(--left-side) 100%);
  transition: 0.35s ease;
}


/* GRID */

.article-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  row-gap: 4rem;
}

.discover__blog-post {
  grid-column: span 2;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}