/* GENERAL */

/* TABS */

.tabs {
  padding: 16rem 0 8rem 0;
}

:root {
  --left-side: 0%;
  --right-side: 0%;
}

.discover__tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  position: relative;
}

.tabs {
  width: auto;
  height: 40px;
  display: flex;
}

.tab {
  padding: 0 15px;
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-500);
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: 0.35s ease;
}
.tab.tab--active {
  color: var(--clr-neutral-1000);
  transition: 0.35s ease;
}
.tab:hover {
  color: var(--clr-neutral-1000) !important;
  transition: 0.35s ease;
}

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, var(--clr-purple-500),var(--clr-blue-500));
  clip-path: polygon(var(--left-side) 0, var(--right-side) 0, var(--right-side) 100%, var(--left-side) 100%);
  transition: 0.35s ease;
}


/* ARTICLE */

.article-wrapper {
  padding-bottom: 12rem;
}

.discover__blog-post--card {
  display: flex;
  width: 350px;
  height: 350px;
  border-radius: 1rem;
}

.discover__blog-post--info {
  writing-mode:tb-rl;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform:rotate(180deg);
  transform: rotate(180deg);
  white-space:nowrap;
  padding: 1rem 1rem 1rem 0rem;
  flex-basis: 20%;
}

.blog-post__category {
  /* padding-top: 1rem; */
  color: var(--clr-neutral-0);
}

.folding {
  background-color: var(--clr-blue-500);
}

.decorating {
  background-color: var(--clr-pink-500);
}

.upcycling {
  background-color: var(--clr-green-500);
}

.discover__blog-post--card img {
  padding: 1rem 1rem 1rem 0.5rem;
  flex-basis: 80%;
  border-radius: 1.5rem;
}





/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {

  /* GRID */

  .article-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .discover__blog-post--1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .discover__blog-post--2 {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }

  .discover__blog-post--3 {
    grid-column: 10 / 13;
    grid-row: 1 / 2;
  }

  .discover__blog-post--4 {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
  }

  .discover__blog-post--5 {
    grid-column: 9 / 12;
    grid-row: 2 / 3;
  }

  .discover__blog-post--6 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .discover__blog-post--7 {
    grid-column: 7 / 10;
    grid-row: 3 / 4;
  }

  .discover__blog-post--8 {
    grid-column: 10 / 13;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1800px) {}