.errors {
  background-color: var(--clr-purple-500);
}

.error__wrapper {
  height: 100vh;
}

header h1 {
  color: var(--clr-neutral-0);
  font-size: 10rem;
}

.error__code {
  color: var(--clr-neutral-0);
  font-size: 2rem;
}

.error__message {
  color: var(--clr-purple-900);
  font-size: 3rem;
}

.error__info p {
  color: var(--clr-purple-900);
  font-size: 1rem;
}

.error__message, 
.error__info p {
 width: 100%;
}


/* SEPCIFICS 404 */

.header__errors {
  font-weight: var(--fw-extra-light);
}

.sub-nav-404 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sub-nav-404__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }

 .sub-nav-404__list li {
  margin: 1rem 0 0 0;
 }

 /* .sub-nav-404__list li:nth-of-type(1) {
  margin-left: auto;
 } */

.sub-nav-404__link {
  text-transform: uppercase;
  color: var(--clr-yellow-500);
  font-size: var(--fs-h3);
}

.sub-nav-404__link:hover,
.sub-nav-404__link:focus {
 color: var(--clr-nav-hover);
 transition: 200ms ease-in-out;
}

.sub-nav-404__link:active {
 color: var(--clr-nav-active);
}

@media (min-width: 600px) {
.sub-nav-404__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
 }

 .sub-nav-404__list li {
  margin: 0 0 0 2rem;
 }

 .sub-nav-404__list li:nth-of-type(1) {
  margin-left: auto;
 }
}

/* SEPCIFICS 422 */

.headline-lowercase {
text-transform: initial;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.65em 1.5em;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background: var(--clr-bg-button-primary-purple);
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 2px 2px 6px #9576FF,
              0.5px 0.5px 1px #5F49A9,
              -0.5px -0.5px 2px #F9F7FF;
              -1px -1px 4px #D6CAFF;
  cursor: pointer;
}

.button-purple-full {
  color: var(--clr-fg-button-primary);
  background: var(--clr-bg-button-primary-purple);
  border: none;
}


/* SEPCIFICS 500 */

.social-errors,
.thanks-errors {
  color: var(--clr-purple-900);
}

.social-errors {
  margin: 2rem 0 2rem 0;
}

.social-errors__list {
  align-items: baseline;
}

.social-errors__link {
  color: var(--clr-yellow-500);
  font-size: calc(var(--fs-social) / 2);
}

.social-errors__link:hover,
.social-errors__link:focus {
 color: var(--clr-nav-hover);
 transition: 200ms ease-in-out;
}

.social-errors__link:active {
 color: var(--clr-nav-active);
}


@media (min-width: 600px) {
  .social-errors__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   }

  .social-errors__list li {
    margin: 0 0 0 2.5rem;
  }

  .social-errors__list li:nth-of-type(1) {
    margin-left: auto;
  }
}


/* MEDIA QUERIES */

@media (min-width: 600px) {

header h1 {
  font-size: 10rem;
}

.error__code {
  font-size: 2rem;
}

.error__message {
  font-size: 3rem;
}

.error__info p {
  font-size: 1rem;
}
}

@media (min-width: 1200px) {

  header h1 {
    font-size: 12rem;
  }
  
  .error__code {
    font-size: 3rem;
  }

  .error__message {
    font-size: 4rem;
    width: 90%;
    margin-left: auto;
  }
  
  .error__info p {
    font-size: 1.125rem;
    width: 50%;
    margin-left: auto;
  }
}