/* HERO */

.hero__content h1 {
  padding-bottom: 4rem;
  font-size: 96px;
  margin: 0;
  line-height: 0.3;
}

.hero__content h2 {
  padding-bottom: 2rem;
  font-size: 48px;
  margin: 0;
}

.hero__content p {
  width: 40%;
}

.enjoy {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 24px;
}


/* PLANET */

.source {
  margin-top: 0;
}

.source__link {
  font-size: var(--fs-small);
  color: var(--clr-neutral-400);
  text-decoration: none;
  font-style: normal;
}

.source__link:hover,
.source__link:active {
  color: var(--clr-link-hover);
}

.planet__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.planet__paragraph {
  grid-column: 2 / 5;
}

.p-4 {
  padding-bottom: 2rem;
}

.btn-planet {
  grid-column: 2 / 3;
  width: min-content;
}


/* PAPER */

.paper__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.paper__paragraph {
  grid-column: 2 / 5;
}


/* DEFORESTATION */

.deforestation__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.deforestation__paragraph {
  grid-column: 2 / 5;
}

.deforestation-why {
  padding: 2rem 0;
}



/* CHANGE */

.change__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.change__paragraph {
  grid-column: 2 / 5;
}

.uncover {
  font-size: 24px;
  padding-top: 1rem;
}


/* ZERO-WASTE */

.zero-waste__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.zero-waste__last {
  padding: 2rem 0;
}

.zero-waste__paragraph {
  grid-column: 2 / 5;
}

.btn-zero-waste {
  grid-column: 2 / 3;
}


/* COVER */

.cover__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 6rem 0;
}

.cover__paragraph {
  grid-column: 2 / 5;
}


/* START */

.start {
  background-color: var(--clr-green-500);
}

.start__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 6rem 5rem 10rem 5rem;
}

.start__paragraph {
  display: flex;
  align-items: flex-end;
  font-size: 32px;
  text-align: left;
  padding: 2rem;
  margin-top: 0;
  border: none;
  border-radius: 25px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  color: var(--clr-green-900);
  background-color: var(--clr-green-500);
  box-shadow: -2px -2px 3px var(--clr-green-300), 3px 3px 5px var(--clr-green-800);
}

.start__paragraph h3 {
 padding-bottom: 1rem;
}

.start__paragraph-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.start__paragraph-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--clr-green-600);
  box-shadow: -1px -1px 2px var(--clr-green-400), 3px 3px 5px var(--clr-green-800);
}

.start__paragraph-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.start__paragraph-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--clr-green-600);
  box-shadow: -1px -1px 2px var(--clr-green-400), 3px 3px 5px var(--clr-green-800);
}

.start__paragraph-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.start__paragraph-6 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: var(--clr-green-600);
  box-shadow: -1px -1px 2px var(--clr-green-400), 3px 3px 5px var(--clr-green-800);
}

.start-number-paragraph-6-grid {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
}

.p-6-content {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: start;
  justify-self: start;
  padding: 2rem;
}

.start-number-paragraph-6 {
  color: var(--clr-green-500);
  font-size: 300px;
  font-family: var(--ff-number);
  font-weight: var(--fw-regular);
}

.start__paragraph-7 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.start__paragraph-8 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: var(--clr-green-600);
  box-shadow: -1px -1px 2px var(--clr-green-400), 3px 3px 5px var(--clr-green-800);
}

/* .start__paragraph-2::before,
.start__paragraph-4::before,
.start__paragraph-6::before,
.start__paragraph-8::before {
  content: '1';
  color: var(--clr-green-500);
  font-size: 300px;
  font-family: var(--ff-number);
  font-weight: var(--fw-regular);
  z-index: 1;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
} */

.start__paragraph-9 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.start__paragraph-10 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.start__paragraph-11 {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  flex-direction: column;
  line-height: 1;
  box-shadow: none;
  color: var(--clr-red-700);
  border: 2px solid var(--clr-red-700);
}

.start__paragraph-11:hover {
  color: var(--clr-yellow-500);
  border: 2px solid var(--clr-yellow-500);
}


/* SHARING */

.sharing__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 6rem 0 10rem 0;
}

.sharing__paragraph {
  grid-column: 2 / 5;
}
.sharing__paragraph-3 {
  padding: 2rem 0;
}

.btn-sharing {
  grid-column: 2 / 3;
}

