/* HERO */

.hero__content h1 {
  padding-bottom: 4rem;
  font-size: 96px;
  margin: 0;
  line-height: 0.3;
}

.hero__content h2 {
  padding-bottom: 2rem;
  font-size: 48px;
  margin: 0;
}

.hero__content p {
  width: 40%;
}

.enjoy {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 24px;
}


/* PLANET */

.source {
  margin-top: 0;
}

.source__link {
  font-size: var(--fs-small);
  color: var(--clr-neutral-400);
  text-decoration: none;
  font-style: normal;
}

.source__link:hover,
.source__link:active {
  color: var(--clr-link-hover);
}

.planet__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.planet__paragraph {
  grid-column: 2 / 5;
}

.p-4 {
  padding-bottom: 2rem;
}

.btn-planet {
  grid-column: 2 / 3;
  width: min-content;
}


/* PAPER */

.paper__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.paper__paragraph {
  grid-column: 2 / 5;
}


/* DEFORESTATION */

.deforestation__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.deforestation__paragraph {
  grid-column: 2 / 5;
}

.deforestation-why {
  padding: 2rem 0;
}



/* CHANGE */

.change__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.change__paragraph {
  grid-column: 2 / 5;
}

.uncover {
  font-size: 24px;
  padding-top: 1rem;
}


/* ZERO-WASTE */

.zero-waste__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 6rem;
}

.zero-waste__last {
  padding: 2rem 0;
}

.zero-waste__paragraph {
  grid-column: 2 / 5;
}

.btn-zero-waste {
  grid-column: 2 / 3;
}


/* COVER */

.cover__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 6rem 0;
}

.cover__paragraph {
  grid-column: 2 / 5;
}


/* START */

.start {
  background-color: var(--clr-yellow-500);
}

.start__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding: 0rem 5rem 6rem 5rem;
}

.start__paragraph {
  text-align: center;
  padding: 2rem;
  line-height: 100%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: var(--clr-yellow-1000);
  background-color: var(--clr-yellow-500);
  box-shadow: -2px -2px 3px var(--clr-yellow-300), 3px 3px 5px var(--clr-yellow-800);
}

.start__paragraph-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.start__paragraph-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.start__paragraph-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.start__paragraph-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.start__paragraph-5 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.start__paragraph-6 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.start__paragraph-7 {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.btn-start {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  width: min-content;
  align-self: center;
  justify-self: end;
}


/* SHARING */

.sharing__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 6rem 0 10rem 0;
}

.sharing__paragraph {
  grid-column: 2 / 5;
}
.sharing__paragraph-3 {
  padding: 2rem 0;
}

.btn-sharing {
  grid-column: 2 / 3;
}

