/* GENERAL */

h2 {
  display: none;
}


/* GRID */

.privacy-policy__content {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.privacy-policy__copy {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {

  /* GRID */

  .privacy-policy__content {
    margin: 16rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .privacy-policy__copy {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1200px) {

  .hero p {
    padding-bottom: 8rem;
  }

  main {
    margin: 0rem 0 8rem 0;
  }

  /* GRID */

  .privacy-policy__content {
    margin: 16rem 0 0rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .privacy-policy__copy {
    grid-column: 2 / 5;
  }
}