/* GENERAL */

.paragraph-hero {
  padding-bottom: 6rem;
}

.note {
  padding: 6rem 0;
}


/* GRID */

.how-to-return {
  padding: 6rem 0;
}

.how-to-return__content {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
}

.square-2,
.step-2__number, 
.step-2__content {
  justify-self: end;
}


@media (min-width: 600px) {
  .note {
    margin-bottom: 8rem;
  }
}

@media (min-width: 900px) {

  .how-to-return__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 0;
    row-gap: 0;
  }
}

@media (min-width: 1200px) {

  .how-to-return h2 {
    padding-top: 16rem;
  }

  address {
    padding: 0 2rem;
  }

  .note {
    padding-bottom: 8rem;
  }
}