/* GENERAL */

.paragraph-hero {
  padding-bottom: 6rem;
}

/* GRID */

.how-to-return {
  padding: 6rem 0;
}

.how-to-return h2 {
  padding-top: 4rem;
}

.how-to-return__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 2rem;
  padding-top: 4rem;
}

.return {
  padding-top: 1rem;
}

.address {
  padding-top: 1rem;
}


/* NOTE */

/* .note-returns {
  padding: 6rem 0 6rem 0;
} */

.note-returns__headline {
  padding-top: 6rem;
}

.last {
  padding-bottom: 6rem;
}



@media (min-width: 600px) {

  .how-to-return__content {
    padding-top: 6rem;
  }

  .note-returns__headline {
    padding-top: 12rem;
  }

  .last {
    padding-bottom: 8rem;
  }
}

@media (min-width: 900px) {

  .how-to-return__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 4rem;
  }

  .note-returns {
    padding-bottom: 4rem;
  }
}

@media (min-width: 1200px) {

  .how-to-return h2 {
    padding-top: 16rem;
  }

  .how-to-return__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 0;
    row-gap: 0;
  }

  .note-returns__headline {
    padding-top: 16rem;
  }

  .last {
    padding-bottom: 10rem;
  }
}