/* GENERAL */

.returns {
  margin-top: 16rem;
}


/* GRID */

.how-to-return {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  column-gap: 0;
  row-gap: 0;
}