/* MAIN COLORS */

// FONTS

:root {

  --clr-logo: #666666;
  --clr-logo: hsl(0,0%,38.8%);
  --clr-logo: rgb(99,99,99);

  --clr-headline: #666666;
  --clr-headline: hsl(0,0%,38.8%);
  --clr-headline: rgb(99,99,99);

  --clr-body: #aaaaaa;
  --clr-body: hsl(0,0%,66.7%);
  --clr-body: rgb(170,170,170);

  --clr-email: #b29997;
  --clr-email: hsl(4, 15%, 64%);
  --clr-email: rgb(178, 153, 151);

  --clr-link: #8fd6bd;
  --clr-link: hsl(159,46%,70%);
  --clr-link: rgb(143,214,189);

  --clr-code: #8fd6bd;
  --clr-code: hsl(159,46%,70%);
  --clr-code: rgb(143,214,189);

  --clr-nav: #8fd6bd;
  --clr-nav: hsl(159,46%,70%);
  --clr-nav: rgb(143,214,189);

  --clr-nav-active: #8fd6bd;
  --clr-nav-active: hsl(159,46%,70%);
  --clr-nav-active: rgb(143,214,189);

  --clr-footer-header: #558E81;
  --clr-footer: hsl(159,46%,70%);
  --clr-footer: rgb(143,214,189);

  --clr-footer-link: #ffffff;
  --clr-footer-link: hsl(0,0%,100%);
  --clr-footer-link: rgb(255,255,255);

  --clr-footer-link-active: #8fd6bd;
  --clr-footer-link-active: hsl(159,46%,70%);
  --clr-footer-link-active: rgb(143,214,189);
 
}


// BACKGROUNDS

:root {

--clr-br-light: #ffffff;
--clr-br-light: hsl(0,0%,100%);
--clr-br-light: rgb(255,255,255);

--clr-br-nav: #ffffff;
--clr-br-nav: hsl(0,0%,100%);
--clr-br-nav: rgb(255,255,255);

--clr-br-footer: #79CDB9;
/* --clr-br-footer: hsl(166, 46%, 64%);
--clr-br-footer: rgb(121,205,185);
--clr-br-footer: rgb(97,165,149); */

}

/* FONT FAMILIES */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
/* font-family: "Roboto", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
/* font-family: "Arimo", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* font-family: "Nunito", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
/* font-family: "Bai Jamjuree", sans-serif; */

/* VARIABLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
/* font-family: "Jura", sans-serif; */

:root {
  --ff-logo: "Bai Jamjuree", sans-serif;;
  --ff-headlines: "Bai Jamjuree", sans-serif;;
  --ff-body: "Bai Jamjuree", sans-serif;;
}

/* FONT SIZE */

/* :root {
  --fs-logo: 2rem;
  --fs-headlines: 2rem;
  --fs-body: 1.25rem;
} */

/* FONT WEIGHTS */

:root {
  --fw-logo: 200;
  --fw-headlines: 200;
  --fw-body: 300;
}

/* COLORS */
/* 
:root {
  --clr-logo: #282828;
  --clr-headline: #0a0a0a;
  --clr-body: #AOAOAO;
  --clr-email: rgb(58, 58, 58);
  --clr-link: rgb(58, 58, 58);
  --clr-br-light: #fff;
  --clr-gradient: rgb(58, 58, 58);
} */

/* GRADIENTS */

:root {
  --linear-gradient: rgb(58, 58, 58);
  --glow-gradient: rgb(58, 58, 58);
}

/* LINEHIGHTS */

:root {
  --lh-headline: 1;
  --lh-body: 1.5;
}

/* PADDINGS */

:root {
  --pd-1: 1em;
  --pd-2: 1.5em;
}

/* MARGINS */

:root {
  --mg-1: 1em;
  --mg-2: 1.5em;
}

/* GENERAL */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* *,
html {
  padding: 0;
  margin: 0;
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: var(--clr-br-light);
  padding: 0;
  margin: 0;
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
}

h1,
h2,
h3 {
  font-family: "Bai Jamjuree", sans-serif;
  /* color: rgb(58, 58, 58); */
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
/* 
h1 {
  font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
} */

h4,
p,
div,
ul,
li,
article {
  /* font-size: clamp(0.9rem, 1.3vw, 1rem);
  color: #94979b; */
  letter-spacing: 0.05rem;
  margin: 0;
}

p {
  line-height: 160%;
}

/* LAYOUT */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* GENERAL LINKS */

.email {
  /* color: var(--clr-email); */
}

.link {
  /* color: var(--clr-link); */
}



/* FOOTER MAIN */

.footer {
  flex-shrink: 0;
  display: flex;
  background: var(--clr-br-light);
}

.footer__list li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--fs-footer);
}

.footer__header {
  color: var(--clr-footer-header);
  font-weight: var(--fw-semi-bold);
}

.footer__link {
  color: var(--clr-footer-link);
  font-weight: var(--fw-regular);
}

.footer__link:hover,
.footer__link:active,
.footer__link:link,
.footer__link:visited {
  transition: ease-in-out 600ms;
}

.footer__customer-care {}

.footer__company {}



/* SOCIAL */

.footer__social {
  font-size: var(--fs-social);
}

.footer__social-links {}

.footer__social-item {}

.footer__social-link {}



/* SUB-FOOTER */

.sub-footer {}

.sub-footer__list {}

.legal {
  font-size: var(--fs-legal);
  font-weight: var(--fw-medium);
}

.copyright {
  font-size: var(--fs-copyright);
  font-weight: var(--fw-medium);
}



/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
  }
}

@media (min-width: 1200px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1800px) {

  .container {
    width: 70%;
    margin: 0 auto;
  }
}
