/* UNDERSTANDING */

.understanding {
  min-height: 50vh;
  margin: 10rem 0;
}

.understanding h2 {
  padding-bottom: 2rem;
}


/* GENERAL */

.sutainability {
  min-height: 100vh;
  overflow: hidden;
  text-align: right;
}

.sustainability__copy {
  align-self: flex-start;
  width: 50%;
}

.sustainability__copy  h3 {
  font-size: 4rem;
  line-height: 1;
  padding-bottom: 2rem;
}

.sustainability__copy  p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}


/* SECTIONS */

.section {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}

.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 20%;
  right: 2.5%;
}


/* Hero */

.hero {
  min-height: 150vh;
  top: 150vh;
  z-index: 1;
}

/* .hero .fixed {
  transform: translate(-50%, -50%);
} */


/* Understanding */

.understanding {
  background-color: var(--clr-blue-500);
  top: 200vh;
  z-index: 2;
}
.understanding .fixed {
  transform: translate(-50%, -50%);
}


/* Materials */

.materials {
  background-image: url(../../IMAGES/SUSTAINABILITY/recycled-materials.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 300vh;
  z-index: 3;
}

.materials .fixed {
  transform: translate(0%, 40%);
}


/* Production */

.production {
  background-color: var(--clr-purple-500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 400vh;
  z-index: 4;
}

.production .fixed {
  transform: translate(0%, -10%);
}

.production__copy {
  width: 60%;
}


/* Packaging */

.packaging {
  background-image: url("../../IMAGES/SUSTAINABILITY/recycled-packaging.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 500vh;
  z-index: 5;
}

.packaging .fixed {
  transform: translate(0%, 0%);
}


/* Delivery */

.delivery {
  background-color: var(--clr-green-500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 600vh;
  z-index: 6;
}

.delivery .fixed {
  transform: translate(0%, 0%);
}


/* Reverse Logistics */

.reverse-logistics {
  background-color: var(--clr-purple-500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 700vh;
  z-index: 7;
}

.reverse-logistics .fixed {
  transform: translate(0%, -10%);
}

.reverse-logistics__copy h3 {
  padding-bottom: 4rem;
}


/* Care Instructions */

.care-instructions {
  background-image: url("../../IMAGES/SUSTAINABILITY/care-instructions.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 800vh;
  z-index: 8;
}

.care-instructions .fixed {
  transform: translate(0%, 0%);
}


/* Disposal */

.disposal {
  background-color: #c20a0a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 900vh;
  z-index: 9;
}

.disposal .fixed {
  transform: translate(0%, 0%);
}

.disposal__copy {
  align-self: flex-end;
  padding-bottom: 8rem;
}


/* Footer */

.footer {
  min-height: 30vh;
  top: 1000vh;
  z-index: 10;
}

/* .footer .fixed {
  transform: translate(0%, 0%);
} */