.understanding {
  margin-top: 6rem;
}

.sutainability {
  height: 100vh;
  align-items: flex-end;
  padding-bottom: 4rem;
}

.production,
.delivery,
.care-instructions {
  text-align: right;
}

.production__copy h3,
.reverse-logistics h3 {
  margin-bottom: 2rem;
}


/* BACKGROUND IMAGES */

.materials {
  background-image: url(../../IMAGES/SUSTAINABILITY/recycled-materials.png);
  /* background-color: var(--clr-red-500);
  background-blend-mode: multiply; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.production {
  background-image: url(#);
  background-color: var(--clr-blue-500);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.packaging {
  background-image: url(../../IMAGES/SUSTAINABILITY/recycled-packaging.png);
  /* background-color: var(--clr-purple-500);
  background-blend-mode: multiply; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.delivery {
  background-image: url(#);
  background-color: var(--clr-green-500);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reverse-logistics {
  background-image: url(#);
  background-color: var(--clr-pink-500);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.care-instructions {
  background-image: url(../../IMAGES/SUSTAINABILITY/care-instructions.png);
  /* background-color: var(--clr-turquoise-500);
  background-blend-mode: multiply; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-start;
  padding-top: 4rem;
}

.care-instructions__copy h3 {
  font-size: 4rem;
}

.care-instructions__copy p {
  font-size: 1.5rem;
  color: var(--clr-neutral-800);
  padding-bottom: 2rem;
}

.disposal {
  background-image: url(#);
  background-color: var(--clr-yellow-500);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}