/* GENERAL */

h2 {
  display: none;
}

.terms-and-conditions__copy h4 {
  margin-top: 2rem;
}

.address {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

address {
  font-size: var(--fs-body);
  font-style: normal;
}

.phone {
  display: inline-block;
  padding-top: 0.75rem;
}

/* GRID */

.terms-and-conditions{
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
}

.terms-and-conditions__content {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: var(--mq-tablet)) {
  /* GRID */

  .terms-and-conditions {
    margin-top: 16rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .terms-and-conditions__content {
    grid-column: 1 / 5;
  }
}

@media (min-width: var(--mq-desktop)) {
  /* GRID */

  .terms-and-conditions {
    margin-top: 16rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .terms-and-conditions__content {
    grid-column: 2 / 5;
  }
}