/* GENERAL */

h2 {
  display: none;
}

.terms-and-conditions__copy h4 {
  margin-top: 2rem;
}

.address {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

address {
  font-size: var(--fs-body);
  font-style: normal;
}

.phone {
  display: inline-block;
  padding-top: 0.75rem;
}

/* GRID */

.terms-and-conditions__content {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.terms-and-conditions__copy {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {
  /* GRID */

  .terms-and-conditions__content {
    margin: 16rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .terms-and-conditions__copy {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1200px) {

  .hero-p2 {
    padding-bottom: 8rem;
  }

  /* GRID */

  .terms-and-conditions__content {
    margin: 16rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .terms-and-conditions__copy {
    grid-column: 2 / 5;
  }
}