/* CLIPPING MASK HEADLINE */

.clipping-mask-font h2 {
  font-weight: 900;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  padding: 24rem 0 0rem 0;
}

.shipping-bags__headline {
  background-image: url("../../IMAGES/Forest-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  line-height: 1.5;
}


/* GENERAL */

.bracket {
  font-size: var(--fs-l);
  line-height: 1.5;
}

section h2 {
  padding-bottom: 1rem;
}

.the-bag,
.afterwards,
.benefits,
.always {
  padding: 4rem 0rem;
}

.order-shipping-bag {
  padding-bottom: 2rem;
}


/* GRID */

.shipping-bags__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.the-bag {
  grid-column: 1 / -1;
}

.afterwards {
  grid-column: 1 / -1;
}

.benefits {
  grid-column: 1 / -1;
}

.always {
  grid-column: 1 / -1;
}



/* MEDIA QUERIES */

@media (min-width: 900px) {

  /* GRID */

  .shipping-bags__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .the-bag {
    grid-column: 2 / 5;
  }

  .afterwards {
    grid-column: 2 / 5;
  }

  .benefits {
    grid-column: 2 / 5;
  }

  .always {
    grid-column: 2 / 5;
  }
}

@media (min-width: 1200px) {

  section h2 {
    padding-bottom: 1.5rem;
  }

  .the-bag,
  .afterwards,
  .benefits,
  .always {
    padding: 8rem 0rem;
  }

  .the-bag {
    padding-top: 24rem;
  }

  .order-shipping-bag {
    padding-bottom: 4rem;
  }

  
  /* GRID */

  .shipping-bags__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .shell {
    grid-column: 2 / 5;
  }

  .afterwards {
    grid-column: 2 / 5;
  }

  .benefits {
    grid-column: 2 / 5;
  }

  .always {
    grid-column: 2 / 5;
  }
}