.recycled-cotton__headline {
  padding-top: 16rem;
}

.intelligence {
  padding-top: 4rem;
}

.last {
  padding-bottom: 4rem;
}

.quote-good-on-you {
  background-color: var(--clr-green-500);
  font-size: 30px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 4rem 0;
  margin: 4rem 0;
  line-height: 1.4;
}

.quote-good-on-you h2 {
  padding: 0rem 0 1rem 0;
}

.space {
  padding: 0rem 0 4rem 0;
}

.quote-content::before {
  content: open-quote;
  position: relative;
  display: inline;
  height: 0;
  line-height: 0;
  font-family: sans-serif;
  left: -100px;
  top: 80px;
  font-size: 5em;
}
.quote-content::after {
  content: close-quote;
  position: relative;
  display: inline;
  height: 0;
  line-height: 0;
  font-family: sans-serif;
  right: -860px;
  bottom: 50px;
  font-size: 5em;
}

.source {
  padding: 4rem 0 0 0;
  margin: 0;
  font-style: italic;
}

.article {
  padding: 2rem 0;
}

.recommendations { 
  padding:  0 0 4rem 0;
}


/* GRID */

.recycled-cotton__content {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.recycled-cotton__copy {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {
  /* GRID */

  .recycled-cotton__content {
    margin: 6rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .recycled-cotton__copy {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1200px) {
  /* GRID */

  .recycled-cotton__content {
    margin: 6rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .recycled-cotton__copy {
    grid-column: 2 / 5;
  }
}

