
/* SHINE */

.shine {
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #2CD5C4, #fff);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(44, 213, 196,0.1);
  padding: 22rem 0 16rem 0;
}

@keyframes animate {
  0% {
    background-position: -1%;
  }
  100% {
    background-position: 1%;
  }   
}


/* FADE ELEMENTS IN / OUT */

.fade {
  opacity: 1;
  transition: 400ms ease-in-out;
  /* cursor: pointer; */
}


/* PARALLAX */

/* .parallax-container{
  min-height: 50vh;
  position: relative;
}

.parallax-item{
  position: absolute;
} */