.wrapper {
  background-color: #dde1e7;
  height: 100vh;
}

.btn {
  margin: 15em auto;
  display: inline-block;
  text-decoration: none;
  /* font-size: 16px; */
  padding: 0.65em 1.5em;
  text-align: center;
  /* border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(163, 177, 198, 0.05), 6px 6px 8px rgba(163, 177, 198, 0.15), -3px -3px 5px rgba(255, 255, 255, 0.2);
  background: #dde1e7;
  border: none; */


  /* color: #ffffff; */
 

  color: #000;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}

/* box-shadow: inset 2px 2px 5px #babecc, inset -1px -1px 2px #ffffff73; */






/* A GOOD ONE FOR A WHITE BACKGROUND */

/* .button {
  display: inline-block;
  text-decoration: none;
  padding: 0.65em 1.5em;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
  cursor: pointer;
} */


.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.65em 1.5em;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

.button-purple-full {
  color: var(--clr-purple-900);
  background: var(--clr-bg-button-primary-purple);
  box-shadow: 2px 2px 6px var(--clr-purple-600),
  0.75px 0.75px 3px var(--clr-purple-900),
  -0.3px -0.3px 2px var(--clr-purple-600),
  -0.25px -0.25px 1px var(--clr-purple-100),
  -1px -1px 4px var(--clr-purple-200);
}

.button-purple-full:hover {
  color: var(--clr-fg-button-primary);
  background: var(--clr-bg-button-primary-purple);
  box-shadow: 3px 3px 6px var(--clr-purple-600),
              0.75px 0.75px 3px var(--clr-purple-900),
              -0.3px -0.3px 2px var(--clr-purple-600),
              -0.25px -0.25px 1px var(--clr-purple-100),
              -1.5px -1.5px 4px var(--clr-purple-200);
}