/* GENERAL */

.recycled-cotton__headline {
  padding-top: 16rem;
}

.last {
  padding-bottom: 4rem;
}

.blockquote-good-on-you {
  background-color: var(--clr-green-500);
}

.blockquote-good-on-you h2 {
  padding: 0rem 0 1rem 0;
}

.space {
  padding: 0rem 0 4rem 0;
}

.blockquote {
  background: var(--clr-green-500);
  border-left: none;
  margin: 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.blockquote::before {
  /* content: open-quote;
  position: relative;
  display: inline;
  height: 0;
  line-height: 0;
  font-family: sans-serif;
  left: -100px;
  top: 100px;
  font-size: 8em; */
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  /* margin-right: 0.25em; */
  vertical-align: -0.4em;
}

.recycled-cotton__source {
  padding: 4rem 0 6rem 0;
  margin: 0;
  font-style: italic;
  color: var(--clr-neutral-300);
}

.article {
  padding: 2rem 0;
}

.recommendations { 
  padding:  0 0 4rem 0;
}

.enjoy {
  padding:  0 0 4rem 0;
}


/* GRID */

.recycled-cotton__content {
  display: grid;
  grid-template-columns: 1fr;
}

.recycled-cotton__copy {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {
  /* GRID */

  .recycled-cotton__content {
    margin: 6rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5625rem;
  }

  .recycled-cotton__copy {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1200px) {
  /* GRID */

 

 
}

