<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks</title>
    <link rel="stylesheet" href="../CSS/thanks.css" />
    <link rel="stylesheet" href="../CSS/shared.css" />
  </head>
  <body>
    <header class="container">
      <h1>Thanks</h1>
    </header>
    <section class="thanks">
      <div class="container thanks__content">
        <p>Big Thanks to...</p>
      </div>
    </section>

    <footer class="footer row">
      <ul class="footer__list row">
        <div class="footer__customer-care col">
          <li class="footer__header">CUSTOMER CARE</li>
          <li class="footer__link">FAQ</li>
          <li class="footer__link">Delivery</li>
          <li class="footer__link">Returns</li>
        </div>
        <div class="footer__company col">
          <li class="footer__header">COMPANY</li>
          <li class="footer__link">Wholesale</li>
          <li class="footer__link">Collaborations</li>
          <li class="footer__link">Sustainability</li>
          <!-- <li class="footer__link">Carrier</li> -->
        </div>
      
        <div class="footer__social">
          <ul class="footer__social-links row">
            <li class="footer__social-item">
              <a href="#" class="footer__social-link"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="footer__social-link"
              ><i class="fab fa-instagram"></i></a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="footer__social-link"
                ><i class="fab fa-pinterest-p"></i
              ></a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="footer__social-link"
                ><i class="fab fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </ul>
      
      <!-- <p>We're located in Berlin, Germany.</p>
      <address>hello@cover.international</address>
      <address>±49 151 720 11 400</address>
      <p>Customer Care hours: Mon - Fri | 10am - 6pm (CET)</p> -->
      
      </footer>
      
      <sub-footer class="sub-footer">
        <div class="container row legal">
          <p class="copyright">&copy; 2020 COVER. All Rights Reserved.</p>
          <p class="copyright">All Rights Reserved | COVER &copy; 2020</p>
          <p class="copyright">COVER &copy; 2020 | All Rights Reserved</p>
          <ul class="sub-footer__list row">
            <li><%= link_to "Legal Notice", legalnotice_path %></li>
            <li><%= link_to "Privacy Policy", privacypolicy_path %></li>
            <li><%= link_to "Cookies", cookies_path %></li>
            <li><%= link_to "Terms and Conditions", termsandconditions_path %></li>
          </ul>
        </div>
      </sub-footer>

  </body>
</html>
