/* GENERAL */

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
  border: none;
  outline: none;
  /* border-radius: 25px; */
  border-radius: 10px;
  cursor: pointer;
}


/* BUTTON RED HALF */

.button-red-half {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0.5rem 0.75rem 0.5rem;
  color: var(--clr-red-600);
  background-color: transparent;
  border: solid var(--clr-red-600) 2px;
  position: relative;
  width: 135px;
  height: 130px;
  transition: 0.6s all ease;
}

.button-red-half:hover,
.button-red-half:active {
  color: var(--clr-green-700);
  border: solid var(--clr-green-700) 2px;
  transition: 0.6s ease;
}

.button-red-half:active{
  box-shadow:
  2px 2px 3px rgba(255,255,255,1) inset,
  2px 2px 3px rgba(0,0,0,.5) inset;
  border: none;
  text-shadow: 0px 0px 2px var(--clr-neutral-300);
  transition: 0.6s ease;
}


/* BUTTON GREY HALF */

.button-grey-half {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0.5rem 0.75rem 0.5rem;
  color: var(--clr-neutral-800);
  background-color: transparent;
  border: solid var(--clr-neutral-800) 2px;
  position: relative;
  width: 135px;
  height: 130px;
  transition: 0.6s all ease;
}

.button-grey-half:hover,
.button-grey-half:active {
  color: var(--clr-blue-900);
  border: solid var(--clr-blue-900) 2px;
  transition: 0.6s ease;
}


/* NEUMORPHISM */

.button-neumorphism {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 130px;
  color: var(--clr-neutral-500);
  text-shadow:   
  -1px -1px 2px  rgba(255,255,255,1),
  1px 1px 2px  rgba(0,0,0,.5) ;
  border: solid var(--clr-neutral-500) 2px;
  border-radius: 10px;
  background-color: transparent;
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288); */
  box-shadow:
  -2px -2px 6px  rgba(255,255,255,1),
  2px 2px 6px  rgba(0,0,0,.5) ;
  transition:.5s all ease;
  position: relative;
  /* text-shadow: 1px 1px 1px var(--clr-neutral-300),
  0.75px 0.75px 1.5px var(--clr-neutral-500),
  -1px -1px 4px var(--clr-neutral-200);
  box-shadow: 2px 2px 3px var(--clr-neutral-300),
  0.75px 0.75px 1.5px var(--clr-neutral-500),
  -0.25px -0.25px 1px var(--clr-neutral-100),
  -1px -1px 4px var(--clr-neutral-200); */
}

.button-neumorphism:after {
  content: '';
  position: absolute; 
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.button-neumorphism:active{
  box-shadow:
  2px 2px 6px rgba(255,255,255,1) inset,
  2px 2px 6px rgba(0,0,0,.5) inset;
  text-shadow: 0px 0px 2px rgba(94, 104, 121, .288);
  transition:.5s all ease;
}

.button-neumorphism:after:active{
  content: '';
  position: absolute; 
  border-radius: 10px;
  background-color: transparent;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


/* BUTTON PURPLE FULL */

.button-purple-full {
  color: var(--clr-purple-900);
  background-color: var(--clr-purple-500);
  box-shadow: 2px 2px 6px var(--clr-purple-600),
  0.75px 0.75px 3px var(--clr-purple-900),
  -0.3px -0.3px 2px var(--clr-purple-600),
  -0.25px -0.25px 1px var(--clr-purple-100),
  -1px -1px 4px var(--clr-purple-200);
}

.button-purple-full:hover {
  color: var(--clr-fg-button-primary);
  background-color: var(--clr-purple-500);
  box-shadow: 3px 3px 6px var(--clr-purple-600),
              0.75px 0.75px 3px var(--clr-purple-900),
              -0.3px -0.3px 2px var(--clr-purple-600),
              -0.25px -0.25px 1px var(--clr-purple-100),
              -1.5px -1.5px 4px var(--clr-purple-200);
}


/* BUTTON GREEN FULL */

.button-green-full {
  color: var(--clr-green-900);
  background-color: var(--clr-green-500);
  box-shadow: 2px 2px 6px var(--clr-green-600),
  0.75px 0.75px 3px var(--clr-green-900),
  -0.3px -0.3px 2px var(--clr-green-600),
  -0.25px -0.25px 1px var(--clr-green-100),
  -1px -1px 4px var(--clr-green-200);
}

.button-green-full:hover {
  color: var(--clr-fg-button-primary);
  background-color: var(--clr-green-500);
  box-shadow: 3px 3px 6px var(--clr-green-600),
              0.75px 0.75px 3px var(--clr-green-900),
              -0.3px -0.3px 2px var(--clr-green-600),
              -0.25px -0.25px 1px var(--clr-green-100),
              -1.5px -1.5px 4px var(--clr-green-200);
}


/* BUTTON YELLOW FULL */

.button-yellow-full {
  color: var(--clr-yellow-900);
  background-color: var(--clr-yellow-500);
  box-shadow: 2px 2px 6px var(--clr-yellow-600),
  0.75px 0.75px 3px var(--clr-yellow-900),
  -0.3px -0.3px 2px var(--clr-yellow-600),
  -0.25px -0.25px 1px var(--clr-yellow-100),
  -1px -1px 4px var(--clr-yellow-200);
}

.button-yellow-full:hover {
  color: var(--clr-fg-button-primary);
  background-color: var(--clr-yellow-500);
  box-shadow: 3px 3px 6px var(--clr-yellow-600),
              0.75px 0.75px 3px var(--clr-yellow-900),
              -0.3px -0.3px 2px var(--clr-yellow-600),
              -0.25px -0.25px 1px var(--clr-yellow-100),
              -1.5px -1.5px 4px var(--clr-yellow-200);
}