/* LINEHIGHTS */

:root {
  --lh-headline: 1.1;
  --lh-body: 1.6;
}


/* LETTERSPACING */

:root {
  --ls-headline: 0;
  --ls-body: 0;
}


/* PADDINGS */

:root {
  --pd-0: 0;
  --pd-1: 1em;
  --pd-2: 1.5em;

  --pd-section: 2rem;

  --pd-button-xl: 15px 30px;
  --pd-button-l: 12px 16px;
  --pd-button-m: 8px 10px;
  --pd-button-s: 6px 8px;
}


/* MARGINS */

:root {
  --mg-auto: 0 auto;
  --mg-0: 0;
  --mg-1: 1em;
  --mg-2: 1.5em;
}


/* SPACER */

:root {
  --spacer: 2rem;
  --head-space: 2rem;
  --content-space: 1rem;
}


/* BORDER RADIUS */

:root {
  --br-button-xl: 1px;
  --br-button-l: 1px;
  --br-button-m: 1px;
  --br-button-s: 1px;
}
