/* FONT FAMILIES */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
/* font-family: "Bai Jamjuree", sans-serif; */
/* extra-light: 200 */
/* light: 300 */
/* regular: 400 */
/* medium: 500 */
/* semi-bold: 600 */
/* bold: 700 */

/* VARIABLE FONTS */
/* @import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap"); */
/* font-family: "Jura", sans-serif; */

/* FONT NUMBERS */

@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
/* font-family: 'Rationale', sans-serif; */
/* just one style available -> regular: 400 */

:root {
  --ff-logo: "Bai Jamjuree", helvetica, sans-serif;
  --ff-headline: "Bai Jamjuree", helvetica, sans-serif;
  --ff-body: "Bai Jamjuree", helvetica, sans-serif;
  --ff-number: "Rationale", sans-serif;
}


/* FONT WEIGHTS */

:root {
  
  /* --fw-logo: 200; */

  --fw-headline: 400;
  --fw-body: 400;
  --fw-number: 400;
  --fw-small: 200;
  --fw-email: 500;
  --fw-link: 500;
  --fw-code: 500;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}


/* FONT SIZE */

:root {
  /* --fs-logo: 2rem; */
  /* --fs-h1-xxl: 18rem;
  --fs-h1-xl: 13rem;
  --fs-h1-l: 10rem; */
  --fs-h1: 4rem;
  --fs-h2: 2rem;
  --fs-h3: 1.125rem;
  --fs-h4: 1rem;
  /* ph1: 1.5rem; */

  --fs-body: 1rem;

  --fs-number: 18rem; 
 
  --fs-button: 20px;
  --fs-button-l: 16px;
  --fs-button-m: 14px;
  --fs-button-s: 12px;
  --fs-small: 0.75rem;

  --fs-nav: 1rem;

  --fs-footer: 1rem;
  --fs-social: 5rem;
  --fs-legal: 0.75rem;
  --fs-copywright: 0.5rem;
}



/* MEDIA QUERIES */

@media (min-width: 600px) {
  /* FONT SIZE */

:root {
  /* --fs-logo: 2rem; */
  --fs-h1-xxl: 18rem;
  --fs-h1-xl: 13rem;
  --fs-h1-l: 10rem;
  --fs-h1: 6rem;
  --fs-h2: 4rem;
  --fs-h3: 3rem;
  --fs-h4: 2rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.25rem;
  --fs-body: 1rem;

  --fs-number-mobile: 18rem; 

  --fs-button: 20px;
  --fs-button-l: 16px;
  --fs-button-m: 14px;
  --fs-button-s: 12px;
  --fs-small: 0.75rem;

  --fs-nav: 1rem;
  --fs-footer: 1rem;
  --fs-social: 4rem;
  --fs-legal: 0.75rem;
  --fs-copywright: 0.5rem;
}
}

@media (min-width: 830px) {
  /* FONT SIZE */

:root {
  /* --fs-logo: 2rem; */
  /* --fs-h1-xxl: 18rem;
  --fs-h1-xl: 13rem;
  --fs-h1-l: 10rem; */
  --fs-h1: 8rem;
  --fs-h2: 3rem;
  --fs-h3: 1.125rem;
  --fs-h4: 1rem;
  /* ph1: 2rem */

  --fs-body: 1rem;

  --fs-number: 31.25rem;

  --fs-button: 1rem;
  --fs-button-l: 16px;
  --fs-button-m: 14px;
  --fs-button-s: 12px;
  --fs-small: 0.75rem;

  --fs-nav: 1rem;
  --fs-footer: 1rem;
  --fs-social: 5rem;
  --fs-legal: 0.75rem;
  --fs-copywright: 0.5rem;
}
}

@media (min-width: 1200px) {
  /* FONT SIZE */

:root {
  /* --fs-logo: 2rem; */
  /* --fs-h1-xxl: 18rem;
  --fs-h1-xl: 13rem;
  --fs-h1-l: 10rem; */
  --fs-h1: 12rem;
  --fs-h2: 4rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  /* ph1: 3rem; */

  --fs-body: 1.125rem;

  --fs-number: 40.625rem;

  --fs-button: 20px;
  --fs-button-l: 16px;
  --fs-button-m: 14px;
  --fs-button-s: 12px;

  --fs-small: 0.85rem;

  --fs-nav: 1rem;
  --fs-footer: 1rem;
  --fs-social: 6rem;
  --fs-legal: 0.85rem;
  --fs-copywright: 0.75rem;
}
}

@media (min-width: 1800px) {
  /* FONT SIZE */

:root {
  /* --fs-logo: 2rem; */
  /* --fs-h1-xxl: 18rem;
  --fs-h1-xl: 13rem;
  --fs-h1-l: 10rem; */
  --fs-h1: 6rem;
  --fs-h2: 4rem;
  --fs-h3: 3rem;
  --fs-h4: 2rem;

  --fs-body: 1rem;
 
  --fs-number: 40.625rem;

  --fs-button: 20px;
  --fs-button-l: 16px;
  --fs-button-m: 14px;
  --fs-button-s: 12px;
  --fs-small: 0.75rem;

  --fs-nav: 1.125rem;
  --fs-footer: 1.125rem;
  --fs-social: 6rem;
  --fs-legal: 1rem;
  --fs-copywright: 0.75rem;
}
}
