/* FONT FAMILIES */

/* BAI JAMJUREE */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
/* font-family: "Bai Jamjuree", sans-serif; */
/* extra-light: 200 */
/* light: 300 */
/* regular: 400 */
/* medium: 500 */
/* semi-bold: 600 */
/* bold: 700 */


/* FONT NUMBERS */

@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
/* font-family: 'Rationale', sans-serif; */
/* just one style available -> regular: 400 */


/* BITCRUSHER */

@import url("//hello.myfonts.net/count/3ce57d");
  
@font-face {
  font-family: 'BitcrusherCdLt-Regular';
  src: url('webFonts/BitcrusherCdLt-Regular/font.woff2') format('woff2'), url('webFonts/BitcrusherCdLt-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'BitcrusherCdRg-Regular';
  src: url('webFonts/BitcrusherCdRg-Regular/font.woff2') format('woff2'), url('webFonts/BitcrusherCdRg-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'BitcrusherCdEl-Regular';
  src: url('webFonts/BitcrusherCdEl-Regular/font.woff2') format('woff2'), url('webFonts/BitcrusherCdEl-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'BitcrusherCdHv-Regular';
  src: url('webFonts/BitcrusherCdHv-Regular/font.woff2') format('woff2'), url('webFonts/BitcrusherCdHv-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'BitcrusherCdRg-Bold';
  src: url('webFonts/BitcrusherCdRg-Bold/font.woff2') format('woff2'), url('webFonts/BitcrusherCdRg-Bold/font.woff') format('woff');
}


:root {
  --ff-brand-extra-light: "BitcrusherCdEl-Regular", helvetica, sans-serif;
  --ff-brand-bold: "BitcrusherCdRg-Regular", helvetica, sans-serif;
  --ff-headline: "Bai Jamjuree", helvetica, sans-serif;
  --ff-body: "Bai Jamjuree", helvetica, sans-serif;
  --ff-number: "Rationale", sans-serif;
}



/* FONT WEIGHTS */

:root {
  
  /* --fw-logo: 200; */

  --fw-headline: 400;
  --fw-body: 400;
  --fw-number: 400;
  --fw-small: 200;
  --fw-email: 400;
  --fw-link: 400;
  --fw-code: 400;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}


/* FONT SIZE */

:root {

  /* --fs-h1: 5rem; */
  --fs-h1: 5rem;
  --fs-h2: 3rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-ph1: 2rem;

  --fs-xxxl: 7rem;
  --fs-xxl: 5rem;
  --fs-xl: 3.5rem;
  --fs-l: 3rem;
  --fs-m: 2.25rem;
  --fs-s: 1.5rem;
  --fs-xs: 1.25rem;
  --fs-xxs: 1rem;
  --fs-xxxs: 0.5rem;
  
  --fs-body: 1rem;
  --fs-logo: 2rem;
  --fs-steps: 1rem;
  --fs-number: 30rem; 

  --fs-nav: 3rem;
  --fs-nav-small: 0.8rem;
  --fs-footer: 1rem;
  --fs-social: 3rem;
  --fs-legal: 0.75rem;
  --fs-copywright: 0.5rem;
  --fs-footer-app: 2rem;

  --fs-btn: 20px;
  --fs-btn-l: 16px;
  --fs-btn-m: 14px;
  --fs-btn-s: 12px;
}



/* MEDIA QUERIES */

@media (min-width: 600px) {

  :root {
    
    --fs-h1: 6rem;
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.25rem;
    --fs-ph1: 2rem;

    --fs-xxxl: 8rem;
    --fs-xxl: 6rem;
    --fs-xl: 5rem;
    --fs-l: 4rem;
    --fs-m: 3rem;
    --fs-s: 1.5rem;
    --fs-xs: 1.25rem;
    --fs-xxs: 0.75rem;
    --fs-xxxs: 0.5rem;

    --fs-body: 1.15rem;
    --fs-logo: 2rem;
    --fs-steps: 1rem;
    --fs-number: 35rem; 

    --fs-nav: 3rem;
    /* --fs-nav-small: 0.8rem; */
    --fs-footer: 1rem;
    --fs-social: 4rem;
    --fs-legal: 0.75rem;
    --fs-copywright: 0.5rem;
    /* --fs-footer-app: 2rem; */

    --fs-button: 20px;
    --fs-button-l: 16px;
    --fs-button-m: 14px;
    --fs-button-s: 12px;
  }
}

@media (min-width: 900px) {

  :root {
   
    --fs-h1: 9rem;
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1rem;
    --fs-ph1: 2rem;

    --fs-xxxl: 12rem;
    --fs-xxl: 9rem;
    --fs-xl: 6rem;
    --fs-l: 5rem;
    --fs-m: 3rem;
    --fs-s: 1.5rem;
    --fs-xs: 1.25rem;
    --fs-xxs: 0.75rem;
    --fs-xxxs: 0.5rem;

    --fs-body: 1.15rem;
    --fs-logo: 2rem;
    --fs-steps: 1rem;
    --fs-number: 40.625rem;

    --fs-nav: 1rem;
     /* --fs-nav-small: 0.8rem; */
    --fs-footer: 1rem;
    --fs-social: 5rem;
    --fs-legal: 0.75rem;
    --fs-copywright: 0.5rem;
    /* --fs-footer-app: 2rem; */

    --fs-button: 1rem;
    --fs-button-l: 16px;
    --fs-button-m: 14px;
    --fs-button-s: 12px;
  }
}

@media (min-width: 1200px) {

  :root {
   
    --fs-h1: 12rem;
    --fs-h2: 4rem;
    --fs-h3: 2rem;
    --fs-h4: 1.275rem;
    --fs-ph1: 3rem;

    --fs-xxxl: 16rem;
    --fs-xxl: 12rem;
    --fs-xl: 8rem;
    --fs-l: 6rem;
    --fs-m: 4rem;
    --fs-s: 2rem;
    --fs-xs: 1.5rem;
    --fs-xxs: 1rem;
    --fs-xxxs: 0.75rem;

    /* --fs-body: 1.125rem; */
    --fs-body: 1.275rem;
    --fs-brand-l: 5rem;  
    --fs-brand-m: 3rem;  
    --fs-brand-s: 1.75rem;   
    --fs-logo: 2rem;
    --fs-steps: 1.125rem;
    --fs-number: 40.625rem;

    --fs-nav: 1rem;
     /* --fs-nav-small: 0.8rem; */
    --fs-footer: 1rem;
    --fs-social: 6rem;
    --fs-legal: 1rem;
    --fs-copywright: 0.75rem;  
    /* --fs-footer-app: 2rem; */

    --fs-button: 20px;
    --fs-button-l: 16px;
    --fs-button-m: 14px;
    --fs-button-s: 12px;
  }
}

@media (min-width: 1800px) {

  :root {
    
    --fs-h1: 12rem;
    --fs-h2: 4rem;
    --fs-h3: 3rem;
    --fs-h4: 2rem;
    --fs-ph1: 3rem;

    --fs-xxl: 18rem;
    --fs-xl: 13rem;
    --fs-l: 10rem;
    --fs-med: 3rem;
    --fs-m: 1.25rem;
    --fs-s: 0.85rem;
    --fs-xs: 0.6rem;

    /* --fs-body: 1.125rem; */
    --fs-body: 1.5rem;
    --fs-logo: 2rem;
    --fs-steps: 1.25rem;
    --fs-number: 40.625rem;

    --fs-nav: 1.125rem;
     /* --fs-nav-small: 0.8rem; */
    --fs-footer: 1.125rem;
    --fs-social: 6rem;
    --fs-legal: 1rem;
    --fs-copywright: 0.75rem;
    /* --fs-footer-app: 2rem; */

    --fs-button: 20px;
    --fs-button-l: 16px;
    --fs-button-m: 14px;
    --fs-button-s: 12px;
  }
}
