/* MAIN */

.footer-wrapper {
  background: var(--clr-bg-footer);
  padding-bottom: 1.5rem;
  margin-top: 8rem;
}

.footer {
  flex-shrink: 0;
}

.footer__list {
  list-style: none;
  font-size: var(--fs-footer);
  display: grid;
  grid-template-columns: 2 repeat(1fr);
  grid-template-rows: 3 repeat(1fr);
}

.footer__header {
  color: var(--clr-footer-header);
  font-weight: var(--fw-medium);
}

.footer__list a {
  color: var(--clr-footer-link);
  font-weight: var(--fw-light);
}

.footer__list a:hover {
  color: var(--clr-footer-link-hover);
  transition: ease-in-out 600ms;
}

.footer__link:focus,
.footer__link:active,
.footer__link:visited {
  color: var(--clr-footer-link-active);
}

.footer__customer-care {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 2.5rem;
}

.footer__company {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}


/* SOCIAL */

.footer__social {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: end;
  align-self: start; 
}

.footer__social-links {
  margin: 0;
  padding: 0;
}

.footer__social-item {
  align-self: start;
  justify-self: baseline;
  margin: 0;
  padding: 0;
}

.footer__social-link {
  font-size: var(--fs-social);
}


/* SUB-FOOTER */

.sub-footer {
  margin: 0;
  padding: 0;
  display: flex;
}

.sub-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: start;
}

.sub-footer__list a {
  color: var(--clr-footer-legal);
  font-size: var(--fs-legal);
  font-weight: var(--fw-regular);
}

.sub-footer__list li:nth-of-type(1) {
  justify-self: start;
}

.sub-footer__list li:nth-of-type(2) {
  margin-top: 0.5rem;
  justify-self: start;
}

.sub-footer__list li:nth-of-type(3) {
  margin-top: 0.5rem;
  justify-self: start;
}

.sub-footer__list li:nth-of-type(4) {
  margin-top: 0.5rem;
  justify-self: start;
}

.copywright {
  color: var(--clr-footer-legal);
  font-size: var(--fs-copywright);
  font-weight: var(--fw-regular);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: end; 
  padding-bottom: 0.5em;
}


/* MEDIA QUERIES */

@media (min-width: 900px) {

  .footer-wrapper {
    padding-bottom: 0.5rem;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 5 repeat(1fr);
    grid-template-columns: 2 repeat(1fr);
    column-gap: 1.25rem;
    row-gap: 3rem;
  }
  
  .footer__list dt {
    margin-bottom: 0.25em;
  }

  .footer__customer-care {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .footer__company {
    padding-top: 2.5rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  
  /* SOCIAL */
  
  .footer__social {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: end; 
  }
  
  .footer__social-links {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .footer__social-item {
    align-self: start;
    margin: 0;
    padding: 0;
  }

  .footer__social-link {
    margin: 0 0 0 2.5rem;
  }

  
  /* SUB-FOOTER */

  .sub-footer {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: baseline; 
  }
  
  .sub-footer__list {
    list-style: none;
    display: flex;
    flex-grow: 1;
  }
  
  .sub-footer__list li:nth-of-type(1) {
    margin-left: 2rem;
  }
  
  .sub-footer__list li:nth-of-type(2) {
    margin-top: 0rem;
    margin-left: 2rem;
  }
  
  .sub-footer__list li:nth-of-type(3) {
    margin-top: 0rem;
    margin-left: 2rem;
  }
  
  .sub-footer__list li:nth-of-type(4) {
    margin-top: 0rem;
    margin-left: 2rem;
  }

  .copywright {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: baseline; 
  }
}


@media (min-width: 1200px) {

  .footer-wrapper {
    padding-bottom: 1.5rem;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 6 repeat(1fr);
    grid-template-rows: 2fr 1fr;
    column-gap: 1.5625rem;
    /* row-gap: 5rem; */
  }
  
  .footer__customer-care {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .footer__company {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  
  /* SOCIAL */
  
  .footer__social {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: start; 
  }

  
  /* SUB-FOOTER */

  .sub-footer {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: end; 
  }
  
  /* .sub-footer__list li:nth-of-type(1) {
    margin-left: 2rem;
  }
  
  .sub-footer__list li:nth-of-type(2) {
    margin-left: 2rem;
  }
  
  .sub-footer__list li:nth-of-type(3) {
    margin-left: 2rem;
  }
  
  .sub-footer__list li:nth-of-type(4) {
    margin-left: 2rem;
  } */

  .copywright {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: end; 
  }
  
}

@media (min-width: 1800px) {

}