/* GENERAL */

.footer {
  width: 100%;
  /* height: 100vh; */
  background: var(--clr-bg-footer);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content) repeat(2, 1fr) min-content;
  row-gap: 2rem;
  padding: 6rem 2rem 2rem 2rem;
}


/* HEADLINE */

.footer__headline {
  color: var(--clr-footer-header);
  font-weight: var(--fw-medium);
}

.footer__headline-h3 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.footer__headline-h2 {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}


/* HEADER */

.footer__header {
  color: var(--clr-footer-header);
  font-weight: var(--fw-medium);
  margin-bottom: auto;
}


/* LIST  */

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: var(--fs-footer);
  border: 2px solid var(--clr-green-800);
  border-radius: 20px;
  width: 250px;
  height: 250px;
  padding: 2rem;
}

.footer__list a {
  color: var(--clr-footer-link);
  font-weight: var(--fw-light);
}

.footer__list a:hover {
  color: var(--clr-footer-link-hover);
  transition: ease-in-out 600ms;
}

.footer__link:focus,
.footer__link:active,
.footer__link:visited {
  color: var(--clr-footer-link-active);
}


/* SOCIAL */

.footer__social {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  width: 500px;
  height: 500px;
  border: 2px solid var(--clr-green-800);
  border-radius: 20px;
  padding: 2rem;
  justify-self: start;
}

.footer__header--social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  align-self: end;
}

.footer__social-links {
  margin: 0;
  padding: 0;
}

.footer__social-items {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  /* width: 250px;
  height: 250px; */
  align-self: end;
  justify-self: start;
}

.footer__social-link {
  color: var(--clr-footer-link);
  font-weight: var(--fw-light);
  font-size: var(--fs-social);
  line-height: 1;
}

.footer__social-link:hover {
  color: var(--clr-yellow-500);
  transition: 0.6s ease-in-out;
}

/* REGISTER */

.footer__register {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: end;
}


/* CUSTOMER CARE */

.footer__customer-care {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  justify-self: end;
}


/* COMPANY */

.footer__company {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  justify-self: end;
}


/* BUTTON */

.btn-footer {
  width: 250px;
  height: 250px;
  font-size: 32px;
  color: var(--clr-red-700);
  border: 2px solid var(--clr-red-700);
  border-radius: 20px;
  padding: 2rem;
  line-height: 1;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  justify-self: end;
}

.btn-footer:hover {
  color: var(--clr-yellow-500);
  border: 2px solid var(--clr-yellow-500);
  transition: 0.6s ease-in-out;
}


/* LEGAL */

.footer__legal {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 3 / 6;
  grid-row: 5 / 6;
  padding-top: 2rem;
  display: flex;
  justify-self: end;
}

.footer__legal a {
  color: var(--clr-footer-legal);
  font-size: var(--fs-legal);
  font-weight: var(--fw-regular);
}

.footer__legal a:nth-of-type(1) {
  
}

.footer__legal a:nth-of-type(2) {
  margin-left: 0.5rem;
}

.footer__legal a:nth-of-type(3) {
  margin-left: 0.5rem;
}

.footer__legal a:nth-of-type(4) {
  margin-left: 0.5rem;
}


/* COPYWRIGHT */

.copywright {
  color: var(--clr-footer-legal);
  font-size: var(--fs-copywright);
  font-weight: var(--fw-regular);
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  padding-top: 2rem;
}

