/* MAIN */

.footer-wrapper {
  background: var(--clr-bg-footer);
}

.footer {
  flex-shrink: 0;
}

.footer__list {
  list-style: none;
  font-size: var(--fs-footer);
}

.footer__header {
  color: var(--clr-footer-header);
  font-weight: var(--fw-semi-bold);
}

.footer__list a {
  color: var(--clr-footer-link);
  font-weight: var(--fw-light);
}

.footer__list a:hover {
  color: var(--clr-footer-link-hover);
  transition: ease-in-out 600ms;
}

.footer__link:focus,
.footer__link:active,
.footer__link:visited {
  color: var(--clr-footer-link-active);
}


/* SOCIAL */

.social {
  font-size: var(--fs-social);
}

.footer__social-links {}

.footer__social-item {}

.footer__social-link {}



/* SUB-FOOTER */

.legal {
  display: flex;
  align-items: baseline;
}

.sub-footer__list {
  list-style: none;
  display: flex;
  flex-grow: 1;
}

.sub-footer__list a {
  color: var(--clr-footer-legal);
  font-size: var(--fs-legal);
  font-weight: var(--fw-regular);
}

.copywright {
  color: var(--clr-footer-legal);
  font-size: var(--fs-copywright);
  font-weight: var(--fw-regular);
}

.sub-footer__list li:nth-of-type(1) {
  margin-left: auto;
}

.sub-footer__list li:nth-of-type(2) {
  margin-left: 2rem;
}

.sub-footer__list li:nth-of-type(3) {
  margin-left: 2rem;
}

.sub-footer__list li:nth-of-type(4) {
  margin-left: 2rem;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  .container {
    width: 98%;
  }
}

@media (min-width: 1200px) {

  .container {
    width: 98%;
  }
}

@media (min-width: 1800px) {

}