/* GENERAL */

body {
  color: var(--clr-body);
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
  background: var(--clr-bg-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--clr-headline);
  font-family: var(--ff-headline);
  font-weight: var(--fw-headline);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

h4,
.h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

p {
  font-size: var(--fs-body);
}

.l,
.xl,
.xxl {
  color: var(--clr-headline);
  font-family: var(--ff-headline);
  font-weight: var(--fw-headline);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
  text-transform: uppercase;
}

.xs {
  font-size: var(--fs-xs);
}

.s {
  font-size: var(--fs-s);
}

.m {
  font-size: var(--fs-m);
}

.med {
  font-size: var(--fs-med);
}

.l {
  font-size: var(--fs-l);
}

.xl {
  font-size: var(--fs-xl);
}

.xxl {
  font-size: var(--fs-xxl);
}

.social {
  font-size: var(--fs-social);
}


/* LINKS */

.email {
  color: var(--clr-email);
  font-weight: var(--fw-email);
}

.email:hover {
  color: var(--clr-green-500);
}

.link,
.link:visited {
  color: var(--clr-link);
  font-size: var(--fs-body);
  font-weight: var(--fw-link);
}

.link:hover {
  color: var(--clr-link-hover);
}

.link:focus {
  color: var(--clr-link-focus);
}

.link:active {
  color: var(--clr-link-active);
}

.link:visited {
  color: var(--clr-link);
}

.code {
  color: var(--clr-code);
  font-size: var(--fs-body);
  font-weight: var(--fw-code);
}


/* SETTINGS */

.strong {
  font-weight: var(--fw-medium);
}

.ultra-strong {
  font-weight: var(--fw-semi-bold);
}

.uppercase {
  text-transform: uppercase;
}

.brand {
  color: var(--clr-neutral-1000);
  font-family: var(--ff-brand);
  /* font-family: var(--ff-logo); */
}


/* COLORS */

.dark {
  color: var(--clr-neutral-1000);
}

.light {
  color: var(--clr-neutral-0);
}

.red {
  color: var(--clr-red-700);
}

.green {
  color: var(--clr-green-700);
}

.dark-green {
  color: var(--clr-green-900);
}

.blue {
  color: var(--clr-blue-500);
}

.yellow {
  color: var(--clr-yellow-900);
}

.grey {
  color: var(--clr-grey-800);
}

.mid-grey {
  color: var(--clr-grey-500);
}

.light-grey {
  color: var(--clr-grey-300);
}


/* SECTION SPECIFICS */

/* HERO */

.headline-hero {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-headline);
  line-height: var(--lh-headline);
  text-align: right;
  padding-top: 16rem;
}

.paragraph-hero {
  font-size: var(--fs-ph1);
  letter-spacing: var(--ls-ph1);
  line-height: var(--lh-ph1);
  text-align: right;
  width: 100%;
  margin-left: auto;
  margin-top: 2rem;
  color: var(--clr-green-500);
}

@media (min-width: 600px) {
  .paragraph-hero {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .paragraph-hero {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .paragraph-hero {
    width: 60%;
  }
}


/* NOTE */

.note h2 {
  color: var(--clr-note);
  margin-bottom: 0.5em;
}

@media (min-width: 900px) {
  .note {
    width: 40%;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .note {
    width: 40%;
    margin-left: auto;
  }
}