/* GENERAL */

body {
  color: var(--clr-body);
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
  background: var(--clr-bg-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--clr-headline);
  font-family: var(--ff-headline);
  font-weight: var(--fw-headline);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

h4,
.h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

p {
  font-size: var(--fs-body);
}


/* NUMBERS */

.number {
  color: var(--clr-number);
  font-family: var(--ff-number);
  font-weight: var(--fw-regular);
  font-size: var( --fs-number);
}


/* GENERAL LINKS */

a {
  display: inline-block;
  text-decoration: none;
}


/* SPECIFIC LINKS */

.email {
  color: var(--clr-email);
  font-weight: var(--fw-email);
}

.email:hover {
  color: var(--clr-green-500);
}

.link {
  color: var(--clr-link);
  font-size: var(--fs-body);
  font-weight: var(--fw-link);
}

.link:hover {
  color: var(--clr-link-hover);
}

.link:focus {
  color: var(--clr-link-focus);
}

.link:active {
  color: var(--clr-link-active);
}

.code {
  color: var(--clr-code);
  font-size: var(--fs-body);
  font-weight: var(--fw-code);
}


/* SECTION SPECIFICS */

header h1 {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-headline);
  line-height: var(--lh-headline);
  text-align: right;
  margin-top: 0.25em;
}

header p {
  font-size: var(--fs-ph1);
  letter-spacing: var(--ls-ph1);
  line-height: var(--lh-ph1);
  text-align: right;
  width: 60%;
  margin-left: auto;
  margin-top: 2rem;
  color: var(--clr-green-500);
}

address {
  font-style: normal;
  font-weight: var(--fw-body);
  font-size: var(--fs-body);
}


/* CIRLES */

.circle-1 {
  background-color: var(--clr-purple-500);
}

.step-1__content,
.step-1__content h3 {
  color: var(--clr-purple-900);
}

.circle-2 {
  background-color: var(--clr-green-500);
}

.step-2__content,
.step-2__content h3 {
  color: var(--clr-green-900);
}

.circle-3 {
  background-color: var(--clr-turquoise-500);
}

.step-3__content,
.step-3__content h3 {
  color: var(--clr-turquoise-900);
}

.circle-4 {
  background-color: var(--clr-pink-500);
}

.step-4__content,
.step-4__content h3 {
  color: var(--clr-pink-900);
}

.circle-5 {
  background-color: var(--clr-blue-500);
}

.step-5__content,
.step-5__content h3 {
  color: var(--clr-blue-900);
}