/* GENERAL */

body {
  color: var(--clr-body);
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
  background: var(--clr-bg-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--clr-headline);
  font-family: var(--ff-headline);
  font-weight: var(--fw-headline);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

h4,
.h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

p {
  font-size: var(--fs-body);
}


/* GENERAL LINKS */

a {
  display: inline-block;
  text-decoration: none;
}


/* SPECIFIC LINKS */

.email {
  color: var(--clr-email);
  font-weight: var(--fw-email);
}

.email:hover {
  color: var(--clr-green-500);
}

.link {
  color: var(--clr-link);
  font-size: var(--fs-body);
  font-weight: var(--fw-link);
}

.link:hover {
  color: var(--clr-link-hover);
}

.link:focus {
  color: var(--clr-link-focus);
}

.link:active {
  color: var(--clr-link-active);
}

.code {
  color: var(--clr-code);
  font-size: var(--fs-body);
  font-weight: var(--fw-code);
}


/* SETTINGS */

.right {
  text-align: right;
  margin-left: auto;
}

.note h2 {
  color: var(--clr-note);
  margin-bottom: 0.5em;
}

/* .note {
  width: 40%;
  margin-left: auto;
} */

@media (min-width: var(--mq-tablet)) {
  .note {
    width: 40%;
    margin-left: auto;
  }
}

@media (min-width: var(--mq-desktop)) {
  .note {
    width: 40%;
    margin-left: auto;
  }
}

.dark {
  color: var(--clr-neutral-800);
}

.light {
  color: var(--clr-neutral-0);
}

.strong {
  font-weight: var(--fw-medium);
}

.social {
  font-size: var(--fs-social);
}


/* SECTION SPECIFICS */

header h1 {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-headline);
  line-height: var(--lh-headline);
  text-align: right;
  margin-top: 0.25em;
}

header p {
  font-size: var(--fs-ph1);
  letter-spacing: var(--ls-ph1);
  line-height: var(--lh-ph1);
  text-align: right;
  width: 100%;
  margin-left: auto;
  margin-top: 2rem;
  color: var(--clr-green-500);
}

@media (min-width: var(--mq-mobile)) {
  header p {
    width: 80%;
  }
}

@media (min-width: var(--mq-tablet)) {
  header p {
    width: 70%;
  }

  @media (min-width: var(--mq-desktop)) {
    header p {
      width: 60%;
    }
}

address {
  font-style: normal;
  font-weight: var(--fw-body);
  font-size: var(--fs-body);
}
}