/* GENERAL */

.square {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  align-self: center;
  justify-items: center;
}

.number {
  width: 300px;
  height: 300px;
  color: var(--clr-number);
  font-family: var(--ff-number);
  font-weight: var(--fw-regular);
  font-size: var(--fs-number);
  align-self: start;
  justify-self: end;
  line-height: 1;
  letter-spacing: 1;
  z-index: 1;
  padding: 0;
  overflow: hidden;
}

.step__content {
  width: 300px;
  min-height: 300px;
  align-self: start;
  justify-self: start;
  z-index: 2;
  padding: 1rem;
}

.step__content h3 {
  font-size: var(--fs-h3);
  line-height: 1;
  text-transform: uppercase;
  padding: 0rem 0rem 0.5rem 0rem;
}

.step__content p {
  font-size: var(--fs-steps)!important;
  width: 95%;
}

address {
  font-style: normal;
  font-size: var(--fs-steps)!important;
}


/* SQUARES */

.square-1 {
  background-color: var(--clr-purple-500);
}

.step-1__content,
.step-1__content h3 {
  color: var(--clr-purple-900);
}

.square-2 {
  background-color: var(--clr-green-500);
}

.step-2__content,
.step-2__content h3 {
  color: var(--clr-green-900);
}

.square-3 {
  background-color: var(--clr-turquoise-500);
}

.step-3__content,
.step-3__content h3 {
  color: var(--clr-turquoise-900);
}

.square-4 {
  background-color: var(--clr-pink-500);
}

.step-4__content,
.step-4__content h3 {
  color: var(--clr-pink-900);
}

.square-5 {
  background-color: var(--clr-blue-500);
}

.step-5__content,
.step-5__content h3 {
  color: var(--clr-blue-900);
}


/* GRID */

/* STEP 1 */

.square-1 {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
}

.step-1__number {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.step-1__content {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

/* STEP 2 */

.square-2 {
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
}

.step-2__number {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.step-2__content {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

/* STEP 3 */

.square-3 {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
}

.step-3__number {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.step-3__content {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

/* STEP 4 */

.square-4 {
  grid-column: 2 / 7;
  grid-row: 4 / 5;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
}

.step-4__number {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.step-4__content {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

/* STEP 5 */

.square-5 {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
}

.step-5__number {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}

.step-5__content {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}


@media (min-width: 600px) {

  .square {
    width: 400px;
    height: 400px;
    border-radius: 20px;
  }

  .number {
    width: 400px;
    height: 400px;
  }

  .step__content {
    width: 400px;
    min-height: 400px;
    align-self: start;
    justify-self: start;
    z-index: 1;
    padding: 1.5rem;
  }

  .step__content h3 {
    padding: 0rem 0rem 0.5rem 0rem;
  }

}


@media (min-width: 900px) {

  .square {
    width: 450px;
    min-height: 450px;
    border-radius: 25px;
  }

  .number {
    width: 450px;
    height: 450px;
  }

  .step__content {
    width: 450px;
    height: 450px;
    align-self: start;
    justify-content: start;
    z-index: 1;
    padding: 2rem;
  }

  .step__content h3 {
    font-size: var(--fs-h3);
    line-height: 1;
    text-transform: uppercase;
    padding: 0rem 0rem 1rem 0rem;
  }

  .step__content p {
    font-size: var(--fs-steps)!important;
    width: 90%;
  }


  /* GRID */

  /* STEP 1 */

  .square-1 {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
  }

  .step-1__number {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .step-1__content {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  /* STEP 2 */

  .square-2 {
    grid-column: 5 / 13;
    grid-row: 2 / 3;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
  }

  .step-2__number {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .step-2__content {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  /* STEP 3 */

  .square-3 {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
  }

  .step-3__number {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .step-3__content {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  /* STEP 4 */

  .square-4 {
    grid-column: 5 / 13;
    grid-row: 4 / 5;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
  }

  .step-4__number {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .step-4__content {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  /* STEP 5 */

  .square-5 {
    grid-column: 1 / 9;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
  }

  .step-5__number {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .step-5__content {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }
  

}

@media (min-width: 1200px) {
  .square {
    width: 450px;
    min-height: 450px;
    border-radius: 25px;
  }

  .number {
    width: 450px;
    height: 450px;
  }

  .step__content {
    width: 450px;
    height: 450px;
    justify-self: start;
    align-self: start;
    padding: 2rem;
  }


  /* GRID */

  /* STEP 1 */

  .square-1 {
    grid-column: 2 / 6;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .step-1__number {
    /* grid-column: 4 / 6;
    grid-row: 1 / 5; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .step-1__content {
    /* grid-column: 2 / 6;
    grid-row: 1 / 5; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  /* STEP 2 */

  .square-2 {
    grid-column: 7 / 11;
    grid-row: 3 / 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .step-2__number {
    /* grid-column: 9 / 11;
    grid-row: 3 / 7; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .step-2__content {
    /* grid-column: 7 / 11;
    grid-row: 3 / 7; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  /* STEP 3 */

  .square-3 {
    grid-column: 2 / 6;
    grid-row: 6 / 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .step-3__number {
    /* grid-column: 4 / 6;
    grid-row: 6 / 10; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .step-3__content {
    /* grid-column: 2 / 6;
    grid-row: 6 / 10; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  /* STEP 4 */

  .square-4 {
    grid-column: 7 / 11;
    grid-row: 8 / 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .step-4__number {
    /* grid-column: 9 / 11;
    grid-row: 8 / 12; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .step-4__content {
    /* grid-column: 7 / 11;
    grid-row: 8 / 12; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  /* STEP 5 */

  .square-5 {
    grid-column: 7 / 11;
    grid-row: 13 / 17;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .step-5__number {
    /* grid-column: 9 / 11;
    grid-row: 13 / 17; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .step-5__content {
    /* grid-column: 7 / 11;
    grid-row: 13 / 17; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}