/* MEDIA QUERIES */

:root { 
  --mq-mobile: 600px; /* 37.5em */
 /* --mq-mobile: 40em;  640px */
  --mq-tablet: 830px; /* 51.875em */
 /* --mq-tablet: 900px;  56.25em */
  --mq-desktop: 1200px; /* 75em */
  --mq-large: 1800px; /* 112.5em */
}