/* NAV HORIZONTAL */

.header {
  display: flex;
  align-items: center;
}

.primary-nav {
  flex-grow: 1;
}

.primary-nav__list {
  display: flex;
  list-style: none;
}

.primary-nav__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaaaaa;
}

.primary-nav__list a:hover,
.primary-nav__list a:focus {
 color: var(--clr-nav-hover);
 transition: 200ms ease-in-out;
}

.primary-nav__list a:active,
.primary-nav__list a:visited {
 color: var(--clr-nav-active);
}

.primary-nav__list li:nth-of-type(1) {
  margin-left: auto;
 }

 .primary-nav__list li:nth-of-type(2) {
  margin-left: 2rem;
 }

 .primary-nav__list li:nth-of-type(3) {
  margin-left: 2rem;
 }

 .primary-nav__list li:nth-of-type(4) {
  margin-left: 2rem;
 }

 .primary-nav__list li:nth-of-type(5) .shop {
  color: var(--clr-red-500);
  margin-left: 2rem;
 }

 .primary-nav__list li:nth-of-type(5) .shop:hover {
  color: var(--clr-green-500);
  transition: 200ms ease-in-out;
 }

 .primary-nav__list li:nth-of-type(6) {
  margin-left: 2rem;
 }

.primary-nav__list li:nth-of-type(7) {
  margin-left: 8em;
}

.primary-nav__list li:nth-of-type(8) {
  margin-left: 2rem;
 }


/* NAV VERTICAL (fixed) */

/* header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.nav {
  flex-grow: 1;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.nav__list li:nth-of-type(1) {
  margin-top: auto;
 }

.nav__list li:nth-of-type(7) {
 margin-top: auto;
} */


/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  .container {
    width: 98%;
  }
}

@media (min-width: 1200px) {

  .container {
    width: 98%;
  }
}

@media (min-width: 1800px) {

 
}