/* NAV MOBILE */

.header__nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  /* padding: 20% 2rem; */
}

.logo__nav {
  margin: 0;
  padding: 0;
  color: var(--clr-nav);
  padding: 2rem 0rem 2rem 1rem;
}

.primary-nav {
  flex-grow: 1;
  padding: 2rem 1rem 2rem 0rem;
}

.primary-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* margin: 0;
  padding: 0; */
  height: 100%;
  /* gap: 1em; */
}

.primary-nav__list li:nth-of-type(1) {
  margin-top: auto;
}

.primary-nav__list li:nth-of-type(2) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(3) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(4) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(5) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(6)  .shop {
  margin-top: 1.5em;
}

/* .primary-nav__list li:nth-of-type(6) .shop:hover {
  color: var(--clr-neutral-1000);
  transition: 200ms ease-in-out;
} */

.primary-nav__list li:nth-of-type(7) {
  margin-top: 5em;
}

.primary-nav__list li:nth-of-type(8) {
  margin-top: 1.5em;
}


 /* NAV MAIN SETTINGS */

.primary-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-nav);
  font-size: var(--fs-nav);
}

.primary-nav__link:hover,
.primary-nav__link:focus {
 color: var(--clr-nav-hover);
 transition: 200ms ease-in-out;
}

.primary-nav__link:active {
 color: var(--clr-nav-active);
}

.active {
  color: var(--clr-nav-active);
}


/* NAV HAMBURGER */

.nav-mobile {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 60px;
  width: 60px;
}

#nav-toggle {
  position: absolute;
  right: 2em;
  top: 2em;
  cursor: pointer;
  padding: 10px 35px 8px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 0.1em;
  height: 0.2em;
  width: 1.8em;
  background: var(--clr-red-500);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -0.625em;
}

#nav-toggle span:after {
  bottom: -0.625em;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}



/* MEDIA QUERIES */

@media (min-width: 600px) {
  .header__nav {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .header__nav {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0.5rem;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
    transition: .6s ease-in-out;
    z-index: 1;
  }

  /* .hide {
    top: -61px;
  } */

  /* .header__nav.scroll {
    top: 60px;
    height: -60px;
  } 

  .header__nav.animate {
    top: -60px;
    background-color: rgb(255,255,255);
  }

  .header__nav.sticky {
    top: 0;
    z-index: 1000;
  }  */
  
  .logo__nav {
    font-size: 2.5rem;
    flex-basis: 10%;
    align-self: center;
    justify-self: flex-start;
    padding: 1rem 0rem 1rem 2rem;
  }
  
  .primary-nav {
    flex-grow: 1;
    align-self: center;
    padding: 1rem 2rem 1rem 0rem;
  }
  
  .primary-nav__list {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-nav);
    overflow: hidden;
  }
  
  .primary-nav__list li:nth-of-type(1) {
    margin-top: 0;
    margin-left: auto;
  }
  
  .primary-nav__list li:nth-of-type(2) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(3) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(4) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(5)  {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(6) .shop {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(7) {
    margin-top: 0;
    margin-left: 1.5em;
  }
  
  .primary-nav__list li:nth-of-type(8) {
    margin-top: 0;
    margin-left: 1.5rem;
  }

}

@media (min-width: 1200px) {

  .primary-nav__list li:nth-of-type(1) {
    margin-left: auto;
  }

  .primary-nav__list li:nth-of-type(2) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(3) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(4) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(5) .shop {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(6) {
    margin-left: 8rem;
  }

  .primary-nav__list li:nth-of-type(7) {
    margin-left: 8em;
  }

  .primary-nav__list li:nth-of-type(8) {
    margin-left: 2rem;
  }
}

/* @media (min-width: 1500px) {

  .logo__nav {
    padding: 1rem 0rem 1rem 5rem;
  }
  
  .primary-nav {
    padding: 1rem 5rem 1rem 0rem;
  }
} */

@media (min-width: 1800px) {}