/* NAV MOBILE */

.header__nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90%;
  background-color: teal;
}

.logo__nav {
  margin: 0;
  padding: 0;
  color: var(--clr-nav);
  /* padding: 5rem 1rem 0 20%; */
}

.primary-nav {
  flex-grow: 1;
  /* padding: 5rem 1rem 5rem 20%; */
}

.primary-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  /* gap: 1em; */
}

.primary-nav__list li:nth-of-type(1) {
  margin-top: auto;
}

.primary-nav__list li:nth-of-type(2) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(3) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(4) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(5) .shop {
  color: var(--clr-red-500);
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(5) .shop:hover {
  color: var(--clr-green-500);
  transition: 200ms ease-in-out;
}

.primary-nav__list li:nth-of-type(6) {
  margin-top: 1.5em;
}

.primary-nav__list li:nth-of-type(7) {
  margin-top: 5em;
}

.primary-nav__list li:nth-of-type(8) {
  margin-top: 1.5em;
}


 /* NAV MAIN SETTINGS */

.primary-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-nav);
  font-size: var(--fs-nav);
}

.primary-nav__link:hover,
.primary-nav__link:focus {
 color: var(--clr-nav-hover);
 transition: 200ms ease-in-out;
}

.primary-nav__link:active {
 color: var(--clr-nav-active);
}


/* MEDIA QUERIES */

@media (min-width: 600px) {
  .header__nav {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: sticky;
    width: 100%;
    padding-top: 1rem;
    background-color: white;
  }
  
  .logo__nav {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    flex-basis: 10%;
    align-self: center;
    justify-self: flex-start;
  }
  
  .primary-nav {
    flex-grow: 1;
    align-self: center;
    padding-right: 3rem;
    /* padding: 1.5rem 1.5rem 1.5rem 1.5rem; */
  }
  
  .primary-nav__list {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-nav);
  }
  
  .primary-nav__list li:nth-of-type(1) {
    margin-top: 0;
    margin-left: auto;
  }
  
  .primary-nav__list li:nth-of-type(2) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(3) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(4) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(5) .shop {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(6) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  
  .primary-nav__list li:nth-of-type(7) {
    margin-top: 0;
    margin-left: 1.5em;
  }
  
  .primary-nav__list li:nth-of-type(8) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) {

  .primary-nav__list li:nth-of-type(1) {
    margin-left: auto;
  }

  .primary-nav__list li:nth-of-type(2) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(3) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(4) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(5) .shop {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(6) {
    margin-left: 2rem;
  }

  .primary-nav__list li:nth-of-type(7) {
    margin-left: 8em;
  }

  .primary-nav__list li:nth-of-type(8) {
    margin-left: 2rem;
  }
}

@media (min-width: 1800px) {
}