*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* *,
html {
  padding: var(--pd-0);
  margin: var(--mg-0);
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
dl,
dt,
dd,
article,
figure,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: var(--mg-0);
  padding: var(--mg-0);
  list-style: none;
  font-size: var(--fs-body);
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  transition: background-color 1s ease;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}