.form__check-out h3 {
  padding: 4rem 0 1rem 0;
}

.name__check-out,
.email__check-out {
  color: var(--clr-neutral-300);
  border: 1px solid var(--clr-neutral-100);
  border-radius: 6px;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.email__check-out {
  margin: 1rem 0 1.5rem 0;
}

.problems h3 {
  margin-top: 6rem;
  line-height: 1;
}

.problems a {
  font-size: var(--fs-h3);
}

/* GRID */

.check-out {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 100vh;
}
  
.check-out-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255,255,255,1);
  padding: 0 2rem;
}
  
.check-out__header {
  grid-column: 1 / -1;
  justify-content: end;
}

.form__check-out {
  grid-column: 1 / -1;
}

.problems {
  grid-column: 1 / -1;
}

.app__navigation {
  grid-column: 1 / -1;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {

  /* GRID */

  .check-out {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 100vh;
    background-image: url(../../IMAGES/Forest-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
    
  .check-out-container {
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255,255,255,1);
    padding: 0 2rem;
  }
    
  .check-out__header {
    grid-column: 1 / -1;
    justify-content: end;
  }

  .form__check-out {
    grid-column: 1 / 3;
  }

  .problems {
    grid-column: 1 / 4;
  }

  .app__navigation {
    grid-column: 1 / -1;
  }
}

@media (min-width: 900px) {

  /* GRID */

  .check-out {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 100vh;
    background-image: url(../../IMAGES/Forest-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
    
  .check-out-container {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(255,255,255,1);
    padding: 0 2rem;
  }
    
  .check-out__header {
    grid-column: 1 / -1;
    justify-content: end;
  }

  .form__check-out {
    grid-column: 1 / 4;
  }

  .problems {
    grid-column: 1 / 5;
  }

  .app__navigation {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1200px) {

  /* GRID */

  .check-out {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 100vh;
    background-image: url(../../IMAGES/Forest-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
    
  .check-out-container {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255,255,255,1);
    padding: 0 2rem;
  }
    
  .check-out__header {
    grid-column: 1 / -1;
    justify-content: end;
  }

  .form__check-out {
    grid-column: 1 / 3;
  }

  .problems {
    grid-column: 1 / 3;
  }

  .app__navigation {
    grid-column: 6 / 7;
  }
}

@media (min-width: 1800px) {}