.form__check-out h3 {
  padding: 4rem 0 2rem 0;
}

.email__check-out {
  padding: 1rem 0 2rem 0;
}

.problems h3 {
  margin-top: 6rem;
}

.problems a {
  font-size: var(--fs-h3);
}

@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}