.map {
  background-image: url("../../IMAGES/maps_dotted.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.initiated {
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-red-500);
  border-radius: 5px;
  background-color: transparent;
}

.number-small {
  font-size: var(--fs-small);
}