/* RADIO BUTTONS */

.radio__control--select {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2.5px;
  border: 0.1em solid currentColor;
  transform: translateY(-1rem);
  display: grid;
  place-items: center;
}

.radio__label--select {
  font-family: inherit;
  font-size: 24px;
  font-weight: inherit;
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.6;
}