.select__headline {
  padding-bottom: 1rem;
}

/* RADIO BUTTONS */

.radio__input span {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2.5px;
  border: 0.1em solid currentColor;
  transform: translateY(-1rem);
}

.radio span > * + *  {
  margin: 0 0 1rem 0;
}

.radio__label {
  padding-left: 0.5rem;
}

.radio__control--select span {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2.5px;
  border: 0.1em solid currentColor;
  transform: translateY(-1rem);
  display: grid;
  /* place-items: center; */
  align-items: center;
}

.radio__label--select {
  font-family: inherit;
  /* font-size: var(--fs-h3); */
  font-weight: inherit;
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.6;
}


/* GRID */

.form__select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr 1fr auto 1fr; */
}

.goodbye__radio {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  /* justify-self: stretch; */
  align-content: stretch;
}

.form__select button {
  display: block;
  width: 100%;
  color: var(--clr-green-500);
  font-family: inherit;
  /* font-size: var(--fs-btn-s); */
  text-transform: uppercase;
  background: white;
  border: 1.75px solid var(--clr-green-500);
  border-radius: 10px;
  padding: 0.5em 0.75em;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  justify-self: stretch;
}


@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}