/* GRID */

.sign-in {
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 55% 30%;
}

.header__sign-in {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.form__sign-in {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.sign-in-third-party {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}


/* FORM */

.form__sign-in {
  padding: 4rem 0 4rem 0;
}

.e-mail {
  padding-bottom: 0.5rem;
}

.password {
  padding-bottom: 0.5rem;
}

.forgot {
  color: var(--clr-red-500);
  font-size: var(--fs-xs);
  text-transform: uppercase;
  padding: 0 0.5rem 1rem 0;
}

.btn__sign-in-form {
  /* width: 100%;
  color: white;
  font-family: inherit;
  font-size: var(--fs-btn-s);
  text-transform: uppercase;
  background: var(--clr-green-500);
  border: 1px solid var(--clr-green-500);
  border-radius: 10px;
  padding: 0.5em 0.75em; */

  width: 100%;
  display: block;
  color: var(--clr-green-500);
  font-family: inherit;
  /* font-size: var(--fs-btn-s); */
  text-transform: uppercase;
  background: white;
  border: 1.75px solid var(--clr-green-500);
  border-radius: 10px;
  padding: 0.5em 0.75em;
  margin-bottom: 1rem;
}


/* 3RD PARTY */

.third-party {
  background: var(--clr-green-500);
  padding: 4rem 0 2rem 0;
}

.btn__sign-in-fb {
  width: 100%;
  display: block;
  color: var(--clr-neutral-800);
  font-family: inherit;
  /* font-size: var(--fs-btn-s); */
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--clr-neutral-800);
  border-radius: 10px;
  padding: 0.5em 0.75em;
  margin-bottom: 1rem;
}

.btn__sign-in-gmail {
  width: 100%;
  display: block;
  color: var(--clr-neutral-800);
  font-family: inherit;
  /* font-size: var(--fs-btn-s); */
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--clr-neutral-800);
  border-radius: 10px;
  padding: 0.5em 0.75em;
  margin-bottom: 2rem;
}

.no-account {
  font-size: 1rem;
  text-align: center;
  padding: 1em 0 2em 0;
}

.sign-up {
  text-decoration: none;
  color: var(--clr-blue-800);
  font-weight: 500;
}