.form__sign-in {
  width: 100%;
  height: 30vh;
  padding: 5em 0 0 0;
}
.sign-in-form {
}
.name {
}
.password {
}

.btn__sign-in-form {
  width: 100%;
  background: grey;
  border: coral;
  border-radius: 1em;
  padding: 0.5em 0.75em;
}

.sign-in-3rd-party {
  background: lightblue;
  width: 100%;
  height: 30vh;
  padding: 5em 0 0 0;
}

.btn__sign-in-fb {
  /* display: block; */
  width: 100%;
  background: grey;
  border: coral;
  border-radius: 1em;
  padding: 0.5em 0.75em;
}

.btn__sign-in-gmail {
  /* display: block; */
  width: 100%;
  background: grey;
  border: coral;
  border-radius: 1em;
  padding: 0.5em 0.75em;
}

.no-account {
  font-size: 1rem;
  text-align: center;
  padding: 1em 0 2em 0;
}

.sign-up {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}
