/* GRID */

.sign-up {
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85%;
}

.sign-up__headline {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.sign-up__form {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: end;
  width: 100%;
  margin: 16rem 0 4rem 0;
}


/* FORM */

.e-mail {
  padding-bottom: 0.5rem;
}

.password {
  padding-bottom: 0.5rem;
}

.btn__sign-up-form {
  width: 100%;
  color: var(--clr-green-500);
  font-family: inherit;
  /* font-size: var(--fs-btn-s); */
  text-transform: uppercase;
  background: white;
  border: 1.75px solid var(--clr-green-500);
  border-radius: 10px;
  padding: 0.5em 0.75em;
}
